<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/DetallesDeOrden.css">
  
  <style>
   a,
   button,
   input,
   select, h1,
   h2,
   h3,
   h4,
   h5,
   * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   text-decoration: none;
   appearance: none;
   background: none;
   
   -webkit-font-smoothing: antialiased;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="detalles-de-orden">
    <div class="footer">
      <div class="subscribe-our-newsletter">
        <div class="rectangle-42"></div>
        <div class="frame-143">
          <div class="subcribe-our-newsletter">
            Subcribete a nuestro Programa de Lealtad
          </div>
          <div
            class="pellentesque-eu-nibh-eget-mauris-congue-mattis-mattis-nec-tellus-phasellus-imperdiet-elit-eu-magna"
          >
            Suscribete a nuestro boletín informativo y date cuenta de todas las
            novedades que tenemos para ti.
          </div>
        </div>
        <div class="subscribe">
          <div class="input-field">
            <div class="your-email-address">Tu correo electrónico</div>
          </div>
          <div class="button">
            <div class="subscribe2">Suscribirme</div>
          </div>
        </div>
        <div class="frame-144">
          <div class="social-media">
            <div class="ellipse-3"></div>
            <img class="facebook-1" src="facebook-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="twitter-1" src="twitter-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="pinterest-1" src="pinterest-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="instagram-1" src="instagram-10.svg" />
          </div>
        </div>
      </div>
      <div class="footer2">
        <div class="fotter">
          <div class="company">
            <div class="logo">
              <div class="plant-1">
                <img class="group" src="group0.svg" />
              </div>
              <div class="ecobazar">Fadiva & Sagaz</div>
            </div>
            <div
              class="morbi-cursus-porttitor-enim-lobortis-molestie-duis-gravida-turpis-dui-eget-bibendum-magna-congue-nec"
            ></div>
          </div>
          <div class="my-account">
            <div class="my-account2">Mi cuenta</div>
            <div class="links">
              <div class="my-account3">Mi cuenta</div>
              <div class="order-history">Historial</div>
              <div class="shoping-cart">Carrito</div>
              <div class="wishlist">Favoritos</div>
            </div>
          </div>
          <div class="help">
            <div class="helps">Soporte</div>
            <div class="links">
              <div class="contact">Contactanos</div>
              <div class="faqs">Preguntas Frequentes</div>
              <div class="terms-condition">Terminos y condiciones</div>
              <div class="privacy-policy">Politicas de privacidad</div>
            </div>
          </div>
          <div class="proxy">
            <div class="proxy2">Proxy</div>
            <div class="links">
              <div class="about">Sobre nosotros</div>
              <div class="shop">Tienda</div>
              <div class="product">Producost</div>
              <div class="track-order">Seguimiento de orden</div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="frame-142">
            <div class="method-apple-pay">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="apple-pay" src="apple-pay0.svg" />
            </div>
            <div class="method-visa">
              <div class="payment-method2">
                <div class="base"></div>
              </div>
              <img class="visa-logo" src="visa-logo0.svg" />
            </div>
            <div class="method-discover">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="discover" src="discover0.svg" />
            </div>
            <div class="method-mastercard">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="mastercard" src="mastercard0.svg" />
            </div>
            <div class="cart">
              <div class="base2"></div>
              <div class="lock-1">
                <img class="group2" src="group1.svg" />
              </div>
              <div class="secure">Secure</div>
              <div class="payment">Payment</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg"></div>
    <div class="products">
      <div class="heading">
        <div class="rectangle-46"></div>
        <div class="producto">Producto</div>
        <div class="precio">precio</div>
        <div class="cantidad">Cantidad</div>
        <div class="subtotal">Subtotal</div>
      </div>
      <div class="order-detail-product">
        <img class="image" src="image0.png" />
        <div class="red-capsicum">Fresas</div>
        <div class="x-5">x1</div>
        <div class="_14-00">₡3400</div>
        <div class="_70-00">₡3400</div>
      </div>
      <div class="devider"></div>
      <div class="order-detail-product2">
        <div class="red-capsicum">Cafe Quetzal 75g</div>
        <div class="x-5">x1</div>
        <div class="_14-00">₡1000</div>
        <div class="_70-00">₡1000</div>
      </div>
      <img class="image2" src="image1.png" />
      <div class="order-detail-product3">
        <div class="image3"></div>
        <div class="red-capsicum">Café Especialidad 340g</div>
        <div class="x-5">x1</div>
        <div class="_14-00">₡5400</div>
        <div class="_70-00">₡5400</div>
      </div>
      <img class="image4" src="image3.png" />
      <div class="devider2"></div>
    </div>
    <div class="progress-tracker">
      <img class="line" src="line0.svg" />
      <div class="orden-recibida">Orden recibida</div>
      <div class="procesando">Procesando</div>
      <div class="en-camino">En camino</div>
      <div class="entregado">Entregado</div>
      <div class="progress">
        <div class="progress-tracker-point">
          <div class="container"></div>
          <div class="check">
            <img class="group3" src="group2.svg" />
          </div>
        </div>
        <div class="progress-tracker-point">
          <div class="container"></div>
          <div class="_02">02</div>
        </div>
        <div class="progress-tracker-point">
          <div class="container2"></div>
          <div class="_022">03</div>
        </div>
        <div class="progress-tracker-point">
          <div class="container2"></div>
          <div class="_022">04</div>
        </div>
      </div>
    </div>
    <div class="total">
      <div class="info">
        <div class="order-id">
          <div class="orde-n-id">OrdeN ID:</div>
          <div class="_4152">#4152</div>
        </div>
        <img class="line-20" src="line-200.svg" />
        <div class="order-id">
          <div class="me-todo-de-pago">MeTODO DE PAGO:</div>
          <div class="paypal">Paypal</div>
        </div>
      </div>
      <div class="line-26"></div>
      <div class="total-price">
        <div class="subtotal2">
          <div class="subtotal3">Subtotal:</div>
          <div class="_17000">₡17000</div>
        </div>
        <div class="line-262"></div>
        <div class="discount">
          <div class="descuento">Descuento</div>
          <div class="_20">20%</div>
        </div>
        <div class="line-25"></div>
        <div class="shipping">
          <div class="envio">Envio</div>
          <div class="gratis">Gratis</div>
        </div>
        <div class="line-27"></div>
        <div class="total2">
          <div class="total3">Total</div>
          <div class="_15000">₡15000</div>
        </div>
      </div>
    </div>
    <div class="billing-shipping">
      <div class="rectangle-45"></div>
      <div class="billing">
        <div class="santo-domingo-heredia">Santo Domingo, Heredia</div>
        <div class="phone">
          <div class="email">Email</div>
          <div class="dainne-ressell-gmail-com">dainne.ressell@gmail.com</div>
        </div>
        <div class="email2">
          <div class="tel-fono">teléfono</div>
          <div class="_506-7019-9141">(506) 7019-9141</div>
        </div>
        <div class="dainne-russell">Dainne Russell</div>
        <div class="direcci-n-de-pago">Dirección de pago</div>
        <div class="line-29"></div>
      </div>
      <div class="billing">
        <div class="_4140-parker-rd-allentown-new-mexico-31134">
          4140 Parker Rd. Allentown, New Mexico 31134
        </div>
        <div class="phone2">
          <div class="email">Email</div>
          <div class="dainne-ressell-gmail-com">dainne.ressell@gmail.com</div>
        </div>
        <div class="email3">
          <div class="tel-fono">Teléfono</div>
          <div class="_506-7019-9141">(506) 7019-9141</div>
        </div>
        <div class="dainne-russell2">Dainne Russell</div>
        <div class="di-recci-n-de-env-o">DiRECCIóN DE ENVíO</div>
        <div class="line-292"></div>
      </div>
      <img class="line-31" src="line-310.svg" />
    </div>
    <div class="heading2">
      <div class="info2">
        <div class="detalle-de-de-la-orden">Detalle de de la orden</div>
        <div class="div">•</div>
        <div class="abril-24-2021">Abril 24, 2021</div>
        <div class="div">•</div>
        <div class="_3-productos">3 Productos</div>
      </div>
    </div>
    <div
      class="breadcrumbs"
      style="
        background: url(breadcrumbs0.png) center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <div class="location">
        <div class="home-1-1">
          <img class="group4" src="group3.svg" />
        </div>
        <img class="group5" src="group4.svg" />
        <div class="home">Cuenta</div>
        <img class="vector" src="vector0.svg" />
        <div class="home">Historial de ordenes</div>
        <img class="vector2" src="vector1.svg" />
        <div class="vegetables">Detalles de orden</div>
      </div>
    </div>
    <div class="navigation">
      <div class="small-one">
        <div class="contact2">
          <img class="map-pin" src="map-pin0.svg" />
          <div class="store-location-lincoln-344-illinois-chicago-usa">
            Localización, Tibás, San Juan, Costa Rica
          </div>
        </div>
        <div class="links2">
          <div class="eng">
            <div class="eng2">Eng</div>
            <img class="group6" src="group5.svg" />
          </div>
          <div class="usd">
            <div class="usd2">USD</div>
            <img class="group7" src="group6.svg" />
          </div>
          <div class="devider3"></div>
          <div class="account">
            <div class="sign-in">Iniciar Sesion</div>
            <div class="div2">/</div>
            <div class="sign-up">Registrarse</div>
          </div>
        </div>
      </div>
      <div class="midle">
        <div class="logo2">
          <div class="plant-1">
            <img class="group8" src="group7.svg" />
          </div>
          <div class="ecobazar2">Fadiva y Sagaz</div>
        </div>
        <div class="search">
          <div class="searech">
            <div class="search2">
              <img class="group9" src="group8.svg" />
            </div>
            <div class="search3">Buscar</div>
          </div>
          <div class="button2">
            <div class="search4">Buscar</div>
          </div>
        </div>
        <div class="icons">
          <img class="heart" src="heart0.svg" />
          <div class="devider4"></div>
          <div class="shopping-card">
            <div class="cart2">
              <img class="bag" src="bag0.svg" />
              <div class="no">
                <div class="_2">2</div>
              </div>
            </div>
            <div class="info3">
              <div class="shopping-cart">Carrito de compras</div>
              <div class="_57-00">₡15000</div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-links">
        <div class="nav-links2">
          <div class="nav-links3">
            <div class="home2">Home</div>
            <div class="chevron-down">
              <img class="group10" src="group9.svg" />
            </div>
          </div>
          <div class="nav-links3">
            <div class="home3">Tienda</div>
            <div class="chevron-down">
              <img class="group11" src="group10.svg" />
            </div>
          </div>
          <div class="nav-links3">
            <div class="home3">Contáctanos</div>
          </div>
        </div>
        <div class="call-now">
          <div class="phone-call-1">
            <img class="group12" src="group11.svg" />
          </div>
          <div class="_219-555-0114">(506) 8921-8680</div>
        </div>
      </div>
    </div>
    <img class="vector3" src="vector2.svg" />
    <div class="dashboard-navigation">
      <div class="heading3">
        <div class="navigation2">Navegacion</div>
      </div>
      <div class="account-links">
        <div class="dashboard-2">
          <img class="group13" src="group12.svg" />
        </div>
        <div class="dashboard">Dashboard</div>
      </div>
      <div class="account-links2">
        <div class="refresh-02-1">
          <img class="group14" src="group13.svg" />
        </div>
        <div class="dashboard">Historial de ordenes</div>
      </div>
      <div class="account-links">
        <img class="dashboard-22" src="dashboard-21.svg" />
        <div class="dashboard">Carrito de Compras</div>
      </div>
      <div class="account-links">
        <div class="dashboard-2">
          <img class="group15" src="group14.svg" />
        </div>
        <div class="dashboard">Configuracion</div>
      </div>
    </div>
    <div class="account-links3">
      <div class="refresh-02-1">
        <img class="group16" src="group15.svg" />
      </div>
      <div class="dashboard">Puntos Acumulados</div>
    </div>
    <div class="account-links4">
      <div class="dashboard-2">
        <img class="group17" src="group16.svg" />
      </div>
      <div class="dashboard">Log-out</div>
    </div>
  </div>
  
</body>
</html>