USE [master]
GO
/****** Object:  Database [pymecafe]    Script Date: 10/14/2025 9:41:21 PM ******/
CREATE DATABASE [pymecafe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'pymecafe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pymecafe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'pymecafe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\pymecafe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [pymecafe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [pymecafe]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[CategoriaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NULL,
 CONSTRAINT [PK__CATEGORI__F353C1C50B531DE6] PRIMARY KEY CLUSTERED 
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLESPEDIDO]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLESPEDIDO](
	[DetalleID] [int] IDENTITY(1,1) NOT NULL,
	[PedidoID] [int] NULL,
	[ProductoID] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
 CONSTRAINT [PK__DETALLES__6E19D6FA2F11F711] PRIMARY KEY CLUSTERED 
(
	[DetalleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICACION]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICACION](
	[NotificacionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Mensaje] [varchar](255) NULL,
	[FechaEnvio] [datetime] NULL,
 CONSTRAINT [PK__NOTIFICA__BCC120C44EAC3A5D] PRIMARY KEY CLUSTERED 
(
	[NotificacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[PedidoID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[FechaPedido] [date] NULL,
	[EstadoPedido] [varchar](50) NULL,
	[Comentarios] [varchar](255) NULL,
	[Comprobante] [varbinary](max) NULL,
	[DireccionDeEnvio] [varchar](255) NULL,
 CONSTRAINT [PK__PEDIDO__09BA1410549D09D4] PRIMARY KEY CLUSTERED 
(
	[PedidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ProductoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](100) NULL,
	[Descripcion] [varchar](255) NULL,
	[Precio] [decimal](10, 2) NULL,
	[CategoriaID] [int] NULL,
	[Foto] [nvarchar](max) NULL,
	[Cantidad] [int] NOT NULL,
 CONSTRAINT [PK__PRODUCTO__A430AE836D9441A6] PRIMARY KEY CLUSTERED 
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publicacion]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publicacion](
	[PublicacionID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
	[FechaPublicacion] [datetime2](7) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[ImagenRuta] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Publicacion] PRIMARY KEY CLUSTERED 
(
	[PublicacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUNTOSDELEALTAD]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUNTOSDELEALTAD](
	[PuntosID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[PuntosAcumulados] [int] NULL,
 CONSTRAINT [PK__PUNTOSDE__77F5142BC519A10E] PRIMARY KEY CLUSTERED 
(
	[PuntosID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECOMENDACION]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECOMENDACION](
	[RecomendacionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ProductoID] [int] NULL,
	[FechaRecomendacion] [datetime] NULL,
 CONSTRAINT [PK__RECOMEND__104CC1EEF8107DE6] PRIMARY KEY CLUSTERED 
(
	[RecomendacionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suscripcion]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suscripcion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[CorreoElectronico] [varchar](100) NOT NULL,
	[Contraseña] [varchar](100) NOT NULL,
	[TipoUsuario] [varchar](20) NULL,
 CONSTRAINT [PK__USUARIO__1788CCACCE9AC0A3] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VALORACIONESDEPRODUCTO]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALORACIONESDEPRODUCTO](
	[ValoracionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductoID] [int] NULL,
	[UserID] [int] NULL,
	[Comentario] [varchar](255) NULL,
	[Calificacion] [int] NULL,
 CONSTRAINT [PK__VALORACI__BFB912DD1AC85966] PRIMARY KEY CLUSTERED 
(
	[ValoracionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241202212105_AddImagenRutaToPublicaciones', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241202213950_RenamePublicacionTable', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241208165711_AgregarFechaPublicacion', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[CATEGORIA] ON 

INSERT [dbo].[CATEGORIA] ([CategoriaID], [NombreCategoria]) VALUES (1, N'Cafe')
INSERT [dbo].[CATEGORIA] ([CategoriaID], [NombreCategoria]) VALUES (2, N'Fruta Congelada')
INSERT [dbo].[CATEGORIA] ([CategoriaID], [NombreCategoria]) VALUES (3, N'Jugos Naturales Zarcero')
SET IDENTITY_INSERT [dbo].[CATEGORIA] OFF
GO
SET IDENTITY_INSERT [dbo].[DETALLESPEDIDO] ON 

INSERT [dbo].[DETALLESPEDIDO] ([DetalleID], [PedidoID], [ProductoID], [Cantidad], [PrecioUnitario]) VALUES (7, 1, 3, 3, CAST(6500.00 AS Decimal(10, 2)))
INSERT [dbo].[DETALLESPEDIDO] ([DetalleID], [PedidoID], [ProductoID], [Cantidad], [PrecioUnitario]) VALUES (8, 2, 2, 1, CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[DETALLESPEDIDO] ([DetalleID], [PedidoID], [ProductoID], [Cantidad], [PrecioUnitario]) VALUES (21, 1, 3, 2, CAST(6500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DETALLESPEDIDO] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTIFICACION] ON 

INSERT [dbo].[NOTIFICACION] ([NotificacionID], [UserID], [Mensaje], [FechaEnvio]) VALUES (1, 1, N'Tu pedido está en proceso', CAST(N'2024-10-01T17:52:35.473' AS DateTime))
INSERT [dbo].[NOTIFICACION] ([NotificacionID], [UserID], [Mensaje], [FechaEnvio]) VALUES (2, 2, N'Hemos enviado tu pedido', CAST(N'2024-10-01T17:52:35.473' AS DateTime))
INSERT [dbo].[NOTIFICACION] ([NotificacionID], [UserID], [Mensaje], [FechaEnvio]) VALUES (3, 3, N'Tu pedido ha sido entregado', CAST(N'2024-10-01T17:52:35.473' AS DateTime))
SET IDENTITY_INSERT [dbo].[NOTIFICACION] OFF
GO
SET IDENTITY_INSERT [dbo].[PEDIDO] ON 

INSERT [dbo].[PEDIDO] ([PedidoID], [UserID], [FechaPedido], [EstadoPedido], [Comentarios], [Comprobante], [DireccionDeEnvio]) VALUES (2, 2, CAST(N'2024-10-01' AS Date), N'Completado', N'Cliente satisfecho.', NULL, N'SIN ASIGNAR')
INSERT [dbo].[PEDIDO] ([PedidoID], [UserID], [FechaPedido], [EstadoPedido], [Comentarios], [Comprobante], [DireccionDeEnvio]) VALUES (6, 1, CAST(N'2024-10-01' AS Date), N'Completado', N'Pedido sin comentarios adicionales.', NULL, N'SIN ASIGNAR')
SET IDENTITY_INSERT [dbo].[PEDIDO] OFF
GO
SET IDENTITY_INSERT [dbo].[PRODUCTO] ON 

INSERT [dbo].[PRODUCTO] ([ProductoID], [NombreProducto], [Descripcion], [Precio], [CategoriaID], [Foto], [Cantidad]) VALUES (2, N'Cafe_Reserva_85g', N'Café gourmet de alta calidad en presentación de 85g, de cultivo sostenible.', CAST(1900.00 AS Decimal(10, 2)), 1, N'https://media.nidux.net/pull/700/700/2770/83894-product-672149109ed62-reserva.jpg', 0)
INSERT [dbo].[PRODUCTO] ([ProductoID], [NombreProducto], [Descripcion], [Precio], [CategoriaID], [Foto], [Cantidad]) VALUES (3, N'Cafe Reserva 340g', N'Café premium en presentación de 340g, ideal para disfrutar en casa.', CAST(6500.00 AS Decimal(10, 2)), 1, N'https://media.nidux.net/pull/700/700/2770/83894-product-672149109ed62-reserva.jpg', 0)
INSERT [dbo].[PRODUCTO] ([ProductoID], [NombreProducto], [Descripcion], [Precio], [CategoriaID], [Foto], [Cantidad]) VALUES (4, N'Cafe Reserva 908g', N'Café de alta calidad en presentación de 908g, perfecto para el amante del café.', CAST(16700.00 AS Decimal(10, 2)), 1, N'https://media.nidux.net/pull/700/700/2770/83894-product-672149109ed62-reserva.jpg', 0)
SET IDENTITY_INSERT [dbo].[PRODUCTO] OFF
GO
SET IDENTITY_INSERT [dbo].[Publicacion] ON 

INSERT [dbo].[Publicacion] ([PublicacionID], [Titulo], [Descripcion], [FechaPublicacion], [UsuarioID], [ImagenRuta]) VALUES (6, N'Nueva update en la Pagina web!', N'En estos dias el equipo de TI se encargo de resolver errores menores sobre el funcionamiento de la pagina', CAST(N'2025-02-26T15:55:00.0000000' AS DateTime2), 2015, N'https://img.freepik.com/foto-gratis/mano-humana-escribiendo-teclado-computadora-noche-generada-ai_188544-31050.jpg?t=st=1740607098~exp=1740610698~hmac=009ef26bb53c7b2c9fe8428bd1ee65cd8efc6424c5cd8e7dbccdf0ef29c9b1a5&w=1380')
SET IDENTITY_INSERT [dbo].[Publicacion] OFF
GO
SET IDENTITY_INSERT [dbo].[PUNTOSDELEALTAD] ON 

INSERT [dbo].[PUNTOSDELEALTAD] ([PuntosID], [UserID], [PuntosAcumulados]) VALUES (1, 1, 500)
INSERT [dbo].[PUNTOSDELEALTAD] ([PuntosID], [UserID], [PuntosAcumulados]) VALUES (2, 2, 1000)
INSERT [dbo].[PUNTOSDELEALTAD] ([PuntosID], [UserID], [PuntosAcumulados]) VALUES (4, 4, 450)
SET IDENTITY_INSERT [dbo].[PUNTOSDELEALTAD] OFF
GO
SET IDENTITY_INSERT [dbo].[RECOMENDACION] ON 

INSERT [dbo].[RECOMENDACION] ([RecomendacionID], [UserID], [ProductoID], [FechaRecomendacion]) VALUES (8, 1, 3, CAST(N'2024-10-01T00:00:00.000' AS DateTime))
INSERT [dbo].[RECOMENDACION] ([RecomendacionID], [UserID], [ProductoID], [FechaRecomendacion]) VALUES (9, 2, 4, CAST(N'2024-10-01T00:00:00.000' AS DateTime))
INSERT [dbo].[RECOMENDACION] ([RecomendacionID], [UserID], [ProductoID], [FechaRecomendacion]) VALUES (10, 3, 5, CAST(N'2024-10-01T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[RECOMENDACION] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([UserID], [Nombre], [Apellido], [CorreoElectronico], [Contraseña], [TipoUsuario]) VALUES (1, N'alonso', N'hernandez', N'alonso@gmail.com', N'b460b1982188f11d175f60ed670027e1afdd16558919fe47023ecd38329e0b7f', N'Administrador')
INSERT [dbo].[USUARIO] ([UserID], [Nombre], [Apellido], [CorreoElectronico], [Contraseña], [TipoUsuario]) VALUES (2, N'antonio', N'Hernandez', N'antonio@gmail.com', N'b221d9dbb083a7f33428d7c2a3c3198ae925614d70210e28716ccaa7cd4ddb79', N'Cliente')
INSERT [dbo].[USUARIO] ([UserID], [Nombre], [Apellido], [CorreoElectronico], [Contraseña], [TipoUsuario]) VALUES (3, N'Alonso', N'Hernandez', N'Alonso@gmail.com', N'b221d9dbb083a7f33428d7c2a3c3198ae925614d70210e28716ccaa7cd4ddb79', N'Administrador')
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
SET IDENTITY_INSERT [dbo].[VALORACIONESDEPRODUCTO] ON 

INSERT [dbo].[VALORACIONESDEPRODUCTO] ([ValoracionID], [ProductoID], [UserID], [Comentario], [Calificacion]) VALUES (5, 2, 1, N'Excelente café, sabor inigualable.', 5)
INSERT [dbo].[VALORACIONESDEPRODUCTO] ([ValoracionID], [ProductoID], [UserID], [Comentario], [Calificacion]) VALUES (6, 3, 2, N'Buen café, lo recomendaría.', 4)
INSERT [dbo].[VALORACIONESDEPRODUCTO] ([ValoracionID], [ProductoID], [UserID], [Comentario], [Calificacion]) VALUES (7, 4, 3, N'Me encantó, el aroma es espectacular.', 5)
SET IDENTITY_INSERT [dbo].[VALORACIONESDEPRODUCTO] OFF
GO
/****** Object:  Index [IX_DETALLESPEDIDO_PedidoID]    Script Date: 10/14/2025 9:41:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_DETALLESPEDIDO_PedidoID] ON [dbo].[DETALLESPEDIDO]
(
	[PedidoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DETALLESPEDIDO_ProductoID]    Script Date: 10/14/2025 9:41:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_DETALLESPEDIDO_ProductoID] ON [dbo].[DETALLESPEDIDO]
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NOTIFICACION_UserID]    Script Date: 10/14/2025 9:41:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_NOTIFICACION_UserID] ON [dbo].[NOTIFICACION]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PEDIDO_UserID]    Script Date: 10/14/2025 9:41:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_PEDIDO_UserID] ON [dbo].[PEDIDO]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PRODUCTO_CategoriaID]    Script Date: 10/14/2025 9:41:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_PRODUCTO_CategoriaID] ON [dbo].[PRODUCTO]
(
	[CategoriaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PUNTOSDELEALTAD_UserID]    Script Date: 10/14/2025 9:41:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_PUNTOSDELEALTAD_UserID] ON [dbo].[PUNTOSDELEALTAD]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RECOMENDACION_ProductoID]    Script Date: 10/14/2025 9:41:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_RECOMENDACION_ProductoID] ON [dbo].[RECOMENDACION]
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RECOMENDACION_UserID]    Script Date: 10/14/2025 9:41:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_RECOMENDACION_UserID] ON [dbo].[RECOMENDACION]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Suscripc__A9D10534C3A45BE8]    Script Date: 10/14/2025 9:41:21 PM ******/
ALTER TABLE [dbo].[Suscripcion] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VALORACIONESDEPRODUCTO_ProductoID]    Script Date: 10/14/2025 9:41:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_VALORACIONESDEPRODUCTO_ProductoID] ON [dbo].[VALORACIONESDEPRODUCTO]
(
	[ProductoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VALORACIONESDEPRODUCTO_UserID]    Script Date: 10/14/2025 9:41:21 PM ******/
CREATE NONCLUSTERED INDEX [IX_VALORACIONESDEPRODUCTO_UserID] ON [dbo].[VALORACIONESDEPRODUCTO]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUCTO] ADD  CONSTRAINT [DF_PRODUCTO_Cantidad]  DEFAULT ((0)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Publicacion] ADD  DEFAULT ((0)) FOR [UsuarioID]
GO
ALTER TABLE [dbo].[Suscripcion] ADD  CONSTRAINT [DF_Suscripcion_Fecha]  DEFAULT (sysutcdatetime()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DETALLESPEDIDO]  WITH CHECK ADD  CONSTRAINT [FK__DETALLESP__Pedid__412EB0B6] FOREIGN KEY([PedidoID])
REFERENCES [dbo].[PEDIDO] ([PedidoID])
GO
ALTER TABLE [dbo].[DETALLESPEDIDO] CHECK CONSTRAINT [FK__DETALLESP__Pedid__412EB0B6]
GO
ALTER TABLE [dbo].[DETALLESPEDIDO]  WITH CHECK ADD  CONSTRAINT [FK__DETALLESP__Produ__4222D4EF] FOREIGN KEY([ProductoID])
REFERENCES [dbo].[PRODUCTO] ([ProductoID])
GO
ALTER TABLE [dbo].[DETALLESPEDIDO] CHECK CONSTRAINT [FK__DETALLESP__Produ__4222D4EF]
GO
ALTER TABLE [dbo].[NOTIFICACION]  WITH CHECK ADD  CONSTRAINT [FK__NOTIFICAC__UserI__48CFD27E] FOREIGN KEY([UserID])
REFERENCES [dbo].[USUARIO] ([UserID])
GO
ALTER TABLE [dbo].[NOTIFICACION] CHECK CONSTRAINT [FK__NOTIFICAC__UserI__48CFD27E]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK__PEDIDO__UserID__398D8EEE] FOREIGN KEY([UserID])
REFERENCES [dbo].[USUARIO] ([UserID])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK__PEDIDO__UserID__398D8EEE]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCTO__Catego__3E52440B] FOREIGN KEY([CategoriaID])
REFERENCES [dbo].[CATEGORIA] ([CategoriaID])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK__PRODUCTO__Catego__3E52440B]
GO
ALTER TABLE [dbo].[PUNTOSDELEALTAD]  WITH CHECK ADD  CONSTRAINT [FK__PUNTOSDEL__UserI__4BAC3F29] FOREIGN KEY([UserID])
REFERENCES [dbo].[USUARIO] ([UserID])
GO
ALTER TABLE [dbo].[PUNTOSDELEALTAD] CHECK CONSTRAINT [FK__PUNTOSDEL__UserI__4BAC3F29]
GO
ALTER TABLE [dbo].[RECOMENDACION]  WITH CHECK ADD  CONSTRAINT [FK__RECOMENDA__Produ__45F365D3] FOREIGN KEY([ProductoID])
REFERENCES [dbo].[PRODUCTO] ([ProductoID])
GO
ALTER TABLE [dbo].[RECOMENDACION] CHECK CONSTRAINT [FK__RECOMENDA__Produ__45F365D3]
GO
ALTER TABLE [dbo].[RECOMENDACION]  WITH CHECK ADD  CONSTRAINT [FK__RECOMENDA__UserI__44FF419A] FOREIGN KEY([UserID])
REFERENCES [dbo].[USUARIO] ([UserID])
GO
ALTER TABLE [dbo].[RECOMENDACION] CHECK CONSTRAINT [FK__RECOMENDA__UserI__44FF419A]
GO
ALTER TABLE [dbo].[VALORACIONESDEPRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__VALORACIO__Produ__4E88ABD4] FOREIGN KEY([ProductoID])
REFERENCES [dbo].[PRODUCTO] ([ProductoID])
GO
ALTER TABLE [dbo].[VALORACIONESDEPRODUCTO] CHECK CONSTRAINT [FK__VALORACIO__Produ__4E88ABD4]
GO
ALTER TABLE [dbo].[VALORACIONESDEPRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK__VALORACIO__UserI__4F7CD00D] FOREIGN KEY([UserID])
REFERENCES [dbo].[USUARIO] ([UserID])
GO
ALTER TABLE [dbo].[VALORACIONESDEPRODUCTO] CHECK CONSTRAINT [FK__VALORACIO__UserI__4F7CD00D]
GO
/****** Object:  StoredProcedure [dbo].[InsertarRecomendacion]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarRecomendacion]
    @ProductoId INT,
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Recomendacion (ProductoId, UserId, FechaRecomendacion)
    VALUES (@ProductoId, @UserId, GETDATE());
END;

GO
/****** Object:  StoredProcedure [dbo].[InsertarValoracionProducto]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarValoracionProducto]
    @ProductoId INT,
    @UserId INT,
    @Comentario NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Valoracionesdeproducto (ProductoId, UserId, Comentario)
    VALUES (@ProductoId, @UserId, @Comentario);
END;

GO
/****** Object:  StoredProcedure [dbo].[InsertDetallePedido]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertDetallePedido]
    @PedidoID INT,
    @ProductoID INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18, 2)
AS
BEGIN
    INSERT INTO [pymeCafe].[dbo].[DETALLESPEDIDO] (PedidoID, ProductoID, Cantidad, PrecioUnitario)
    VALUES (@PedidoID, @ProductoID, @Cantidad, @PrecioUnitario);
END;


GO
/****** Object:  StoredProcedure [dbo].[InsertPedido]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertPedido]
    @UserId INT,
    @EstadoPedido NVARCHAR(50) = 'En proceso',
    @Comentarios NVARCHAR(MAX) = ''
AS
BEGIN
    INSERT INTO [pymeCafe].[dbo].[PEDIDO] (UserID, FechaPedido, EstadoPedido, Comentarios)
    VALUES (@UserId, GETDATE(), @EstadoPedido, @Comentarios);
    
    -- Devuelve el ID del pedido recién insertado
    SELECT SCOPE_IDENTITY() AS PedidoID;
END;


GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarUsuario]
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @CorreoElectronico NVARCHAR(100),
    @Contraseña NVARCHAR(100),
    @TipoUsuario NVARCHAR(50) = 'Cliente',  -- Valor por defecto 'Cliente'
    @Resultado NVARCHAR(250) OUTPUT
AS
BEGIN
    -- Verificar si el correo electrónico ya está registrado
    IF EXISTS (SELECT 1 FROM USUARIO WHERE CorreoElectronico = @CorreoElectronico)
    BEGIN
        SET @Resultado = 'El correo electrónico ya está registrado. Intenta con otro.'
        RETURN
    END

    -- Insertar nuevo usuario
    BEGIN TRY
        INSERT INTO USUARIO (Nombre, Apellido, CorreoElectronico, Contraseña, TipoUsuario)
        VALUES (@Nombre, @Apellido, @CorreoElectronico, @Contraseña, @TipoUsuario)
        
        SET @Resultado = 'Usuario registrado exitosamente.'
    END TRY
    BEGIN CATCH
        SET @Resultado = 'Error al registrar el usuario. ' + ERROR_MESSAGE()
    END CATCH
END


GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
    @UsuarioID INT,
    @Nombre NVARCHAR(100),
    @Apellido NVARCHAR(100),
    @CorreoElectronico NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE Usuario -- Cambié de Usuarios a Usuario
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        CorreoElectronico = @CorreoElectronico
    WHERE UserId = @UsuarioID;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarDetallePedido]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarDetallePedido]
    @PedidoID INT,
    @ProductoID INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18, 2)
AS
BEGIN
    INSERT INTO DETALLESPEDIDO (PedidoID, ProductoID, Cantidad, PrecioUnitario)
    VALUES (@PedidoID, @ProductoID, @Cantidad, @PrecioUnitario);
    
    SELECT 'Detalle de pedido agregado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarPedido]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarPedido]
    @UserID INT,
    @FechaPedido DATETIME,
    @EstadoPedido NVARCHAR(255),
    @Comentarios NVARCHAR(500)
AS
BEGIN
    INSERT INTO PEDIDO (UserID, FechaPedido, EstadoPedido, Comentarios)
    VALUES (@UserID, @FechaPedido, @EstadoPedido, @Comentarios);
    
    SELECT 'Pedido agregado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarProducto]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarProducto]
    @NombreProducto NVARCHAR(255),
    @Descripcion NVARCHAR(500),
    @Precio DECIMAL(18, 2),
    @CategoriaID INT
AS
BEGIN
    INSERT INTO PRODUCTO (NombreProducto, Descripcion, Precio, CategoriaID)
    VALUES (@NombreProducto, @Descripcion, @Precio, @CategoriaID);
    
    SELECT 'Producto agregado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarRecomendacion]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarRecomendacion]
    @UserID INT,
    @ProductoID INT,
    @FechaRecomendacion DATETIME
AS
BEGIN
    INSERT INTO RECOMENDACION (UserID, ProductoID, FechaRecomendacion)
    VALUES (@UserID, @ProductoID, @FechaRecomendacion);
    
    SELECT 'Recomendación agregada exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarUsuario]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarUsuario]
    @Nombre NVARCHAR(255),
    @Apellido NVARCHAR(255),
    @CorreoElectronico NVARCHAR(255),
    @Contraseña NVARCHAR(255),
    @TipoUsuario INT
AS
BEGIN
    INSERT INTO USUARIO (Nombre, Apellido, CorreoElectronico, Contraseña, TipoUsuario)
    VALUES (@Nombre, @Apellido, @CorreoElectronico, @Contraseña, @TipoUsuario);
    
    SELECT 'Usuario agregado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_AgregarValoracionProducto]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AgregarValoracionProducto]
    @ProductoID INT,
    @UserID INT,
    @Comentario NVARCHAR(500),
    @Calificacion INT
AS
BEGIN
    INSERT INTO VALORACIONESDEPRODUCTO (ProductoID, UserID, Comentario, Calificacion)
    VALUES (@ProductoID, @UserID, @Comentario, @Calificacion);
    
    SELECT 'Valoración agregada exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_ConfirmarPedido]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ConfirmarPedido]
    @PedidoID INT,
    @UserID INT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE PEDIDO
    SET EstadoPedido = 'Confirmado'
    WHERE PedidoID = @PedidoID AND UserID = @UserID;

    -- Opcional: Registra en un log el cambio de estado
    INSERT INTO LOG_CAMBIOS (PedidoID, UserID, FechaCambio, NuevoEstado)
    VALUES (@PedidoID, @UserID, GETDATE(), 'Confirmado');
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EditarDetallePedido]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarDetallePedido]
    @DetalleID INT,
    @PedidoID INT,
    @ProductoID INT,
    @Cantidad INT,
    @PrecioUnitario DECIMAL(18, 2)
AS
BEGIN
    UPDATE DETALLESPEDIDO
    SET PedidoID = @PedidoID,
        ProductoID = @ProductoID,
        Cantidad = @Cantidad,
        PrecioUnitario = @PrecioUnitario
    WHERE DetalleID = @DetalleID;
    
    SELECT 'Detalle de pedido actualizado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EditarPedido]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarPedido]
    @PedidoID INT,
    @UserID INT,
    @FechaPedido DATETIME,
    @EstadoPedido NVARCHAR(255),
    @Comentarios NVARCHAR(500)
AS
BEGIN
    UPDATE PEDIDO
    SET UserID = @UserID,
        FechaPedido = @FechaPedido,
        EstadoPedido = @EstadoPedido,
        Comentarios = @Comentarios
    WHERE PedidoID = @PedidoID;
    
    SELECT 'Pedido actualizado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EditarProducto]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarProducto]
    @ProductoID INT,
    @NombreProducto NVARCHAR(255),
    @Descripcion NVARCHAR(500),
    @Precio DECIMAL(18, 2),
    @CategoriaID INT
AS
BEGIN
    UPDATE PRODUCTO
    SET NombreProducto = @NombreProducto,
        Descripcion = @Descripcion,
        Precio = @Precio,
        CategoriaID = @CategoriaID
    WHERE ProductoID = @ProductoID;
    
    SELECT 'Producto actualizado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EditarRecomendacion]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarRecomendacion]
    @RecomendacionID INT,
    @FechaRecomendacion DATETIME
AS
BEGIN
    UPDATE RECOMENDACION
    SET FechaRecomendacion = @FechaRecomendacion
    WHERE RecomendacionID = @RecomendacionID;
    
    SELECT 'Recomendación actualizada exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EditarUsuario]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarUsuario]
    @UserID INT,
    @Nombre NVARCHAR(255),
    @Apellido NVARCHAR(255),
    @CorreoElectronico NVARCHAR(255),
    @Contraseña NVARCHAR(255),
    @TipoUsuario INT
AS
BEGIN
    UPDATE USUARIO
    SET Nombre = @Nombre,
        Apellido = @Apellido,
        CorreoElectronico = @CorreoElectronico,
        Contraseña = @Contraseña,
        TipoUsuario = @TipoUsuario
    WHERE UserID = @UserID;
    
    SELECT 'Usuario actualizado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EditarValoracionProducto]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EditarValoracionProducto]
    @ValoracionID INT,
    @Comentario NVARCHAR(500),
    @Calificacion INT
AS
BEGIN
    UPDATE VALORACIONESDEPRODUCTO
    SET Comentario = @Comentario,
        Calificacion = @Calificacion
    WHERE ValoracionID = @ValoracionID;
    
    SELECT 'Valoración actualizada exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarDetallePedido]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarDetallePedido]
    @DetalleID INT
AS
BEGIN
    DELETE FROM DETALLESPEDIDO
    WHERE DetalleID = @DetalleID;
    
    SELECT 'Detalle de pedido eliminado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarPedido]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarPedido]
    @PedidoID INT
AS
BEGIN
    DELETE FROM PEDIDO
    WHERE PedidoID = @PedidoID;
    
    SELECT 'Pedido eliminado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarProducto]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarProducto]
    @ProductoID INT
AS
BEGIN
    DELETE FROM PRODUCTO
    WHERE ProductoID = @ProductoID;
    
    SELECT 'Producto eliminado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarRecomendacion]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarRecomendacion]
    @RecomendacionID INT
AS
BEGIN
    DELETE FROM RECOMENDACION
    WHERE RecomendacionID = @RecomendacionID;
    
    SELECT 'Recomendación eliminada exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarUsuario]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarUsuario]
    @UserID INT
AS
BEGIN
    DELETE FROM USUARIO
    WHERE UserID = @UserID;
    
    SELECT 'Usuario eliminado exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarValoracionProducto]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_EliminarValoracionProducto]
    @ValoracionID INT
AS
BEGIN
    DELETE FROM VALORACIONESDEPRODUCTO
    WHERE ValoracionID = @ValoracionID;
    
    SELECT 'Valoración eliminada exitosamente' AS Mensaje;
END;


GO
/****** Object:  StoredProcedure [dbo].[sp_VerificarUsuario]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VerificarUsuario]
    @Nombre NVARCHAR(50),
    @Apellido NVARCHAR(50)
AS
BEGIN
    SELECT * 
    FROM Usuarios
    WHERE Nombre = @Nombre AND Apellido = @Apellido;
END;


GO
/****** Object:  StoredProcedure [dbo].[VerificarLogin]    Script Date: 10/14/2025 9:41:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerificarLogin]
    @CorreoElectronico NVARCHAR(250),
    @Contraseña NVARCHAR(250),
    @Resultado NVARCHAR(250) OUTPUT,
    @UserID INT OUTPUT,
    @TipoUsuario NVARCHAR(50) OUTPUT
AS
BEGIN
    -- Verificar si el usuario existe con el correo y contraseña
    DECLARE @Id INT, @Tipo NVARCHAR(50);

    SELECT @Id = UserID, @Tipo = TipoUsuario
    FROM USUARIO
    WHERE CorreoElectronico = @CorreoElectronico
    AND Contraseña = @Contraseña;

    IF @Id IS NOT NULL
    BEGIN
        -- Si las credenciales son correctas
        SET @Resultado = 'Inicio de sesión exitoso';
        SET @UserID = @Id;
        SET @TipoUsuario = @Tipo; -- Asignamos el TipoUsuario como texto
    END
    ELSE
    BEGIN
        -- Si las credenciales son incorrectas
        SET @Resultado = 'Correo o contraseña incorrectos';
        SET @UserID = NULL;
        SET @TipoUsuario = NULL;
    END
END;


GO
USE [master]
GO
