<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/AcumulacionDePuntos.css">
  
  <style>
   a,
   button,
   input,
   select, h1,
   h2,
   h3,
   h4,
   h5,
   * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   text-decoration: none;
   appearance: none;
   background: none;
   
   -webkit-font-smoothing: antialiased;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="acumulacion-de-puntos">
    <div class="bg"></div>
    <div class="pagination">
      <div class="frame-153">
        <div class="chevron-down">
          <img class="group" src="group0.svg" />
        </div>
      </div>
      <div class="frame-163">
        <div class="frame-155">
          <div class="_1">1</div>
        </div>
        <div class="frame-156">
          <div class="_2">2</div>
        </div>
        <div class="frame-157">
          <div class="_3">3</div>
        </div>
      </div>
      <div class="frame-162">
        <div class="chevron-down">
          <img class="group2" src="group1.svg" />
        </div>
      </div>
    </div>
    <div class="order-history2">
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">3933</div>
        </div>
        <div class="_8-sep-2020">4 Abril, 2021</div>
        <div class="_135-00-5-products">₡1850 (5 Productos)</div>
        <div class="processing">+5</div>
        <div class="view-details">Ver detalles</div>
      </div>
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">5045</div>
        </div>
        <div class="_8-sep-2020">27 Mar, 2021</div>
        <div class="_135-00-5-products">₡1500 (1 Producto)</div>
        <div class="processing">+3</div>
        <div class="view-details">Ver detalles</div>
      </div>
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">5028</div>
        </div>
        <div class="_8-sep-2020">20 Mar, 2021</div>
        <div class="_135-00-5-products">₡1700 (4 Productos)</div>
        <div class="processing2">+5</div>
        <div class="view-details">Ver detalles</div>
      </div>
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">4600</div>
        </div>
        <div class="_8-sep-2020">19 Mar, 2021</div>
        <div class="_135-00-5-products">₡1750(1 Producto)</div>
        <div class="processing">+4</div>
        <div class="view-details">Ver detalles</div>
      </div>
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">4152</div>
        </div>
        <div class="_8-sep-2020">18 Mar, 2021</div>
        <div class="_135-00-5-products">₡10500 (13 Productos)</div>
        <div class="processing">+8</div>
        <div class="view-details">Ver detalles</div>
      </div>
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">8811</div>
        </div>
        <div class="_8-sep-2020">10 Mar, 2021</div>
        <div class="_135-00-5-products">₡3500 (7 Productos)</div>
        <div class="processing">+7</div>
        <div class="view-details">Ver detalles</div>
      </div>
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">3536</div>
        </div>
        <div class="_8-sep-2020">5 Mar, 2021</div>
        <div class="_135-00-5-products">₡1500 (2 Productos)</div>
        <div class="processing">+8</div>
        <div class="view-details">Ver detalles</div>
      </div>
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">1374</div>
        </div>
        <div class="_8-sep-2020">27 Feb, 2021</div>
        <div class="_135-00-5-products">₡1500(2 Productos)</div>
        <div class="processing">+7</div>
        <div class="view-details">Ver detalles</div>
      </div>
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">7791</div>
        </div>
        <div class="_8-sep-2020">25 Feb, 2021</div>
        <div class="_135-00-5-products">₡1500 (2 Productos)</div>
        <div class="processing">+7</div>
        <div class="view-details">Ver detalles</div>
      </div>
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">4846</div>
        </div>
        <div class="_8-sep-2020">24 Feb, 2021</div>
        <div class="_135-00-5-products">₡1200 (1 Producto)</div>
        <div class="processing">+3</div>
        <div class="view-details">Ver detalles</div>
      </div>
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">5948</div>
        </div>
        <div class="_8-sep-2020">20 Feb, 2021</div>
        <div class="_135-00-5-products">₡1200 (1 Producto)</div>
        <div class="processing">+3</div>
        <div class="view-details">Ver detalles</div>
      </div>
      <div class="order-history3">
        <div class="frame-171">
          <div class="div">#</div>
          <div class="_738">1577</div>
        </div>
        <div class="_8-sep-2020">12 Oct, 2020</div>
        <div class="_135-00-5-products">₡1200 (1 Producto)</div>
        <div class="processing">+3</div>
        <div class="view-details">Ver detalles</div>
      </div>
    </div>
    <div class="heading">
      <div class="bg2"></div>
      <div class="order-id">Order ID</div>
      <div class="fecha">Fecha</div>
      <div class="total">Total</div>
      <div class="puntos">Puntos</div>
    </div>
    <div class="historial-de-ordenes">Historial de ordenes</div>
    <div
      class="breadcrumbs"
      style="
        background: url(breadcrumbs0.png) center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <div class="location">
        <div class="home-1-1">
          <img class="group3" src="group2.svg" />
        </div>
        <img class="group4" src="group3.svg" />
        <div class="home">Cuenta</div>
        <img class="vector" src="vector0.svg" />
        <div class="vegetables">Puntos Acumulados</div>
      </div>
    </div>
    <div class="dashboard-navigation">
      <div class="heading2">
        <div class="navigation">Navegacion</div>
      </div>
      <div class="account-links">
        <div class="dashboard-2">
          <img class="group5" src="group4.svg" />
        </div>
        <div class="dashboard">Dashboard</div>
      </div>
      <div class="account-links2">
        <div class="refresh-02-1">
          <img class="group6" src="group5.svg" />
        </div>
        <div class="dashboard">Historial de ordenes</div>
      </div>
      <div class="account-links">
        <img class="dashboard-22" src="dashboard-21.svg" />
        <div class="dashboard">Carrito de Compras</div>
      </div>
      <div class="account-links">
        <div class="dashboard-2">
          <img class="group7" src="group6.svg" />
        </div>
        <div class="dashboard">Configuracion</div>
      </div>
    </div>
    <div class="account-links3">
      <div class="refresh-02-1">
        <img class="group8" src="group7.svg" />
      </div>
      <div class="dashboard">Puntos Acumulados</div>
    </div>
    <div class="account-links4">
      <div class="dashboard-2">
        <img class="group9" src="group8.svg" />
      </div>
      <div class="dashboard">Log-out</div>
    </div>
    <div class="navigation2">
      <div class="small-one">
        <div class="contact">
          <img class="map-pin" src="map-pin0.svg" />
          <div class="store-location-lincoln-344-illinois-chicago-usa">
            Localización, Tibás, San Juan, Costa Rica
          </div>
        </div>
        <div class="links">
          <div class="eng">
            <div class="eng2">Eng</div>
            <img class="group10" src="group9.svg" />
          </div>
          <div class="usd">
            <div class="usd2">USD</div>
            <img class="group11" src="group10.svg" />
          </div>
          <div class="devider"></div>
          <div class="account">
            <div class="sign-in">Iniciar Sesion</div>
            <div class="div2">/</div>
            <div class="sign-up">Registrarse</div>
          </div>
        </div>
      </div>
      <div class="midle">
        <div class="logo">
          <div class="plant-1">
            <img class="group12" src="group11.svg" />
          </div>
          <div class="ecobazar">Fadiva y Sagaz</div>
        </div>
        <div class="search">
          <div class="searech">
            <div class="search2">
              <img class="group13" src="group12.svg" />
            </div>
            <div class="search3">Buscar</div>
          </div>
          <div class="button">
            <div class="search4">Buscar</div>
          </div>
        </div>
        <div class="icons">
          <img class="heart" src="heart0.svg" />
          <div class="devider2"></div>
          <div class="shopping-card">
            <div class="cart">
              <img class="bag" src="bag0.svg" />
              <div class="no">
                <div class="_22">2</div>
              </div>
            </div>
            <div class="info">
              <div class="shopping-cart">Carrito de compras</div>
              <div class="_57-00">₡15000</div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-links">
        <div class="nav-links2">
          <div class="nav-links3">
            <div class="home2">Home</div>
            <div class="chevron-down2">
              <img class="group14" src="group13.svg" />
            </div>
          </div>
          <div class="nav-links3">
            <div class="home3">Tienda</div>
            <div class="chevron-down2">
              <img class="group15" src="group14.svg" />
            </div>
          </div>
          <div class="nav-links3">
            <div class="home3">Contáctanos</div>
          </div>
        </div>
        <div class="call-now">
          <div class="phone-call-1">
            <img class="group16" src="group15.svg" />
          </div>
          <div class="_219-555-0114">(506) 8921-8680</div>
        </div>
      </div>
    </div>
    <img class="vector2" src="vector1.svg" />
    <div class="icon-line-trash-2">
      <img class="group-33497" src="group-334970.svg" />
      <img class="rectangle-21-stroke" src="rectangle-21-stroke0.svg" />
    </div>
    <div class="footer">
      <div class="subscribe-our-newsletter">
        <div class="rectangle-42"></div>
        <div class="frame-143">
          <div class="subcribe-our-newsletter">
            Subcribete a nuestro Programa de Lealtad
          </div>
          <div
            class="pellentesque-eu-nibh-eget-mauris-congue-mattis-mattis-nec-tellus-phasellus-imperdiet-elit-eu-magna"
          >
            Suscribete a nuestro boletín informativo y date cuenta de todas las
            novedades que tenemos para ti.
          </div>
        </div>
        <div class="subscribe">
          <div class="input-field">
            <div class="your-email-address">Tu correo electrónico</div>
          </div>
          <div class="button2">
            <div class="subscribe2">Suscribirme</div>
          </div>
        </div>
        <div class="frame-144">
          <div class="social-media">
            <div class="ellipse-3"></div>
            <img class="facebook-1" src="facebook-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="twitter-1" src="twitter-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="pinterest-1" src="pinterest-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="instagram-1" src="instagram-10.svg" />
          </div>
        </div>
      </div>
      <div class="footer2">
        <div class="fotter">
          <div class="company">
            <div class="logo2">
              <div class="plant-1">
                <img class="group17" src="group16.svg" />
              </div>
              <div class="ecobazar2">Café Quetzal</div>
            </div>
            <div
              class="morbi-cursus-porttitor-enim-lobortis-molestie-duis-gravida-turpis-dui-eget-bibendum-magna-congue-nec"
            ></div>
            <div class="cta">
              <div class="button3">
                <div class="_219-555-01142">(219) 555-0114</div>
              </div>
              <div class="or">or</div>
              <div class="button3">
                <div class="proxy-gmail-com">Proxy@gmail.com</div>
              </div>
            </div>
          </div>
          <div class="my-account">
            <div class="my-account2">Mi cuenta</div>
            <div class="links2">
              <div class="my-account3">Mi cuenta</div>
              <div class="order-history4">Historial</div>
              <div class="shoping-cart">Carrito</div>
              <div class="wishlist">Favoritos</div>
            </div>
          </div>
          <div class="help">
            <div class="helps">Soporte</div>
            <div class="links2">
              <div class="contact2">Contactanos</div>
              <div class="faqs">Preguntas Frequentes</div>
              <div class="terms-condition">Terminos y condiciones</div>
              <div class="privacy-policy">Politicas de privacidad</div>
            </div>
          </div>
          <div class="proxy">
            <div class="proxy2">Proxy</div>
            <div class="links2">
              <div class="about">Sobre nosotros</div>
              <div class="shop">Tienda</div>
              <div class="product">Producost</div>
              <div class="track-order">Seguimiento de orden</div>
            </div>
          </div>
          <div class="categories">
            <div class="categories2">Categorias</div>
            <div class="links2">
              <div class="fruit-vegetables">Cafés</div>
              <div class="meat-fish">Granos</div>
              <div class="bread-bakery">Tostados</div>
              <div class="beauty-health">Saludables</div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="ecobazar-e-commerce-2021-all-rights-reserved">
            Ecobazar eCommerce © 2021. All Rights Reserved
          </div>
          <div class="frame-142">
            <div class="method-apple-pay">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="apple-pay" src="apple-pay0.svg" />
            </div>
            <div class="method-visa">
              <div class="payment-method2">
                <div class="base"></div>
              </div>
              <img class="visa-logo" src="visa-logo0.svg" />
            </div>
            <div class="method-discover">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="discover" src="discover0.svg" />
            </div>
            <div class="method-mastercard">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="mastercard" src="mastercard0.svg" />
            </div>
            <div class="cart2">
              <div class="base2"></div>
              <div class="lock-1">
                <img class="group18" src="group17.svg" />
              </div>
              <div class="secure">Secure</div>
              <div class="payment">Payment</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>