<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/IniciarSesion.css">
  
  
  <style>
   a,
   button,
   input,
   select, h1,
   h2,
   h3,
   h4,
   h5,
   * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   text-decoration: none;
   appearance: none;
   background: none;
   
   -webkit-font-smoothing: antialiased;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="iniciar-sesion">
    <div class="login">
      <div class="inicia-sesi-n">Inicia Sesión</div>
      <div class="field">
        <div class="field2">
          <div class="input-field">
            <div class="correo">Correo</div>
          </div>
          <div class="input-field2">
            <div class="contrase-a">Contraseña</div>
            <div class="eye-open-1">
              <img class="group" src="group0.svg" />
            </div>
          </div>
        </div>
        <div class="links">
          <div class="remember">
            <div class="checkbox">
              <div class="normal"></div>
            </div>
            <div class="recordar-mis-datos">Recordar mis datos</div>
          </div>
          <div class="olvid-mi-contrase-a">Olvidé mi contraseña</div>
        </div>
      </div>
      <div class="button">
        <div class="normal2">Iniciar</div>
      </div>
      <div class="don-t-have-account">
        <div class="no-tienes-cuenta">¿No tienes cuenta?</div>
        <div class="registrate">Registrate</div>
      </div>
    </div>
    <div
      class="breadcrumbs"
      style="
        background: url(breadcrumbs0.png) center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <div class="location">
        <div class="home-1-1">
          <img class="group2" src="group1.svg" />
        </div>
        <img class="vector" src="vector0.svg" />
        <div class="home">Cuenta</div>
        <img class="vector2" src="vector1.svg" />
        <div class="vegetables">Iniciar Sesión</div>
      </div>
    </div>
    <div class="navigation">
      <div class="small-one">
        <div class="contact">
          <img class="map-pin" src="map-pin0.svg" />
          <div class="store-location-lincoln-344-illinois-chicago-usa">
            Localización, Tibás, San Juan, Costa Rica
          </div>
        </div>
        <div class="links2">
          <div class="eng">
            <div class="eng2">Esp</div>
            <img class="group3" src="group2.svg" />
          </div>
          <div class="usd">
            <div class="usd2">USD</div>
            <img class="group4" src="group3.svg" />
          </div>
          <div class="devider"></div>
          <div class="account">
            <div class="sign-in">Iniciar sesión</div>
            <div class="div">/</div>
            <div class="sign-up">Registrate</div>
          </div>
        </div>
      </div>
      <div class="midle">
        <div class="logo">
          <div class="plant-1">
            <img class="group5" src="group4.svg" />
          </div>
          <div class="caf-quetzal">Fadiva y Sagaz</div>
        </div>
        <div class="search">
          <div class="searech">
            <div class="search2">
              <img class="group6" src="group5.svg" />
            </div>
            <div class="search3">Buscar</div>
          </div>
          <div class="button2">
            <div class="search4">Buscar</div>
          </div>
        </div>
        <div class="icons">
          <img class="heart" src="heart0.svg" />
          <div class="devider2"></div>
          <div class="shopping-card">
            <div class="cart">
              <img class="bag" src="bag0.svg" />
              <div class="no">
                <div class="_2">2</div>
              </div>
            </div>
            <div class="info">
              <div class="shopping-cart">Carrito de compras:</div>
              <div class="_57-00">₡15000</div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-links">
        <div class="nav-links2">
          <div class="nav-links3">
            <div class="home2">Home</div>
            <div class="chevron-down">
              <img class="group7" src="group6.svg" />
            </div>
          </div>
          <div class="nav-links3">
            <div class="home3">Tienda</div>
            <div class="chevron-down">
              <img class="group8" src="group7.svg" />
            </div>
          </div>
          <div class="nav-links3">
            <div class="home3">Contactános</div>
          </div>
        </div>
        <div class="call-now">
          <div class="phone-call-1">
            <img class="group9" src="group8.svg" />
          </div>
          <div class="_219-555-0114">(506) 8921-8680</div>
        </div>
      </div>
    </div>
    <img class="vector3" src="vector2.svg" />
    <div class="footer">
      <div class="subscribe-our-newsletter">
        <div class="rectangle-42"></div>
        <div class="frame-143">
          <div class="subcribe-our-newsletter">
            Subcribete a nuestro Programa de Lealtad
          </div>
          <div
            class="pellentesque-eu-nibh-eget-mauris-congue-mattis-mattis-nec-tellus-phasellus-imperdiet-elit-eu-magna"
          >
            Suscribete a nuestro boletín informativo y date cuenta de todas las
            novedades que tenemos para ti.
          </div>
        </div>
        <div class="subscribe">
          <div class="input-field3">
            <div class="your-email-address">Tu correo electrónico</div>
          </div>
          <div class="button3">
            <div class="subscribe2">Suscribirme</div>
          </div>
        </div>
        <div class="frame-144">
          <div class="social-media">
            <div class="ellipse-3"></div>
            <img class="facebook-1" src="facebook-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="twitter-1" src="twitter-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="pinterest-1" src="pinterest-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="instagram-1" src="instagram-10.svg" />
          </div>
        </div>
      </div>
      <div class="footer2">
        <div class="fotter">
          <div class="company">
            <div class="logo2">
              <div class="plant-1">
                <img class="group10" src="group9.svg" />
              </div>
              <div class="ecobazar">Fadiva & Sagaz</div>
            </div>
            <div
              class="morbi-cursus-porttitor-enim-lobortis-molestie-duis-gravida-turpis-dui-eget-bibendum-magna-congue-nec"
            ></div>
          </div>
          <div class="my-account">
            <div class="my-account2">Mi cuenta</div>
            <div class="links3">
              <div class="my-account3">Mi cuenta</div>
              <div class="order-history">Historial</div>
              <div class="shoping-cart">Carrito</div>
              <div class="wishlist">Favoritos</div>
            </div>
          </div>
          <div class="help">
            <div class="helps">Soporte</div>
            <div class="links3">
              <div class="contact2">Contactanos</div>
              <div class="faqs">Preguntas Frequentes</div>
              <div class="terms-condition">Terminos y condiciones</div>
              <div class="privacy-policy">Politicas de privacidad</div>
            </div>
          </div>
          <div class="proxy">
            <div class="proxy2">Proxy</div>
            <div class="links3">
              <div class="about">Sobre nosotros</div>
              <div class="shop">Tienda</div>
              <div class="product">Producost</div>
              <div class="track-order">Seguimiento de orden</div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="frame-142">
            <div class="method-apple-pay">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="apple-pay" src="apple-pay0.svg" />
            </div>
            <div class="method-visa">
              <div class="payment-method2">
                <div class="base"></div>
              </div>
              <img class="visa-logo" src="visa-logo0.svg" />
            </div>
            <div class="method-discover">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="discover" src="discover0.svg" />
            </div>
            <div class="method-mastercard">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="mastercard" src="mastercard0.svg" />
            </div>
            <div class="cart2">
              <div class="base2"></div>
              <div class="lock-1">
                <img class="group11" src="group10.svg" />
              </div>
              <div class="secure">Secure</div>
              <div class="payment">Payment</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>