<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/Pagar.css">
  
  <style>
   a,
   button,
   input,
   select, h1,
   h2,
   h3,
   h4,
   h5,
   * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   text-decoration: none;
   appearance: none;
   background: none;
   
   -webkit-font-smoothing: antialiased;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="pagar">
    <div class="order-summery">
      <div class="order-summery2">
        <div class="resumen-de-orden">Resumen de Orden</div>
        <div class="product">
          <div class="product2">
            <div class="info">
              <img class="image" src="image0.png" />
              <div class="papaya">Papaya</div>
              <div class="x-3">x3</div>
            </div>
            <div class="_5400">₡5400</div>
          </div>
          <div class="product2">
            <div class="info">
              <img class="image" src="image1.png" />
              <div class="fresas">Fresas</div>
              <div class="x-2">x2</div>
            </div>
            <div class="_6400">₡6400</div>
          </div>
        </div>
        <div class="total">
          <div class="subtotal">
            <div class="subtotal2">Subtotal:</div>
            <div class="_11400">₡11400</div>
          </div>
          <div class="line-38"></div>
          <div class="shipping">
            <div class="env-o">Envío:</div>
            <div class="gratis">Gratis</div>
          </div>
          <div class="line-39"></div>
          <div class="total2">
            <div class="total3">Total:</div>
            <div class="_11400">₡11400</div>
          </div>
        </div>
      </div>
      <div class="payment-method">
        <div class="metodo-de-pago">Metodo de Pago</div>
        <div class="method">
          <div class="cash-on-delivery">
            <div class="radio">
              <div class="normal"></div>
              <div class="normal2"></div>
            </div>
            <div class="efectivo-con-el-env-o">Efectivo con el envío</div>
          </div>
          <div class="paypal">
            <div class="radio">
              <div class="hover"></div>
            </div>
            <div class="paypal2">Paypal</div>
          </div>
          <div class="amazon-pay">
            <div class="radio">
              <div class="normal3"></div>
            </div>
            <div class="amazon-pay2">Amazon Pay</div>
          </div>
        </div>
      </div>
      <div class="button">
        <div class="normal4">Realizar Pedido</div>
      </div>
    </div>
    <div class="zip-code">
      <div class="c-digo-postal">Código postal</div>
      <div class="input-field">
        <div class="c-digo-postal2">Código Postal</div>
      </div>
    </div>
    <div
      class="breadcrumbs"
      style="
        background: url(breadcrumbs0.png) center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <div class="location">
        <div class="home-1-1">
          <img class="group" src="group0.svg" />
        </div>
        <img class="group2" src="group1.svg" />
        <div class="home">Carrito de compras</div>
        <img class="vector" src="vector0.svg" />
        <div class="vegetables">Verificar</div>
      </div>
    </div>
    <div class="navigation">
      <div class="small-one">
        <div class="contact">
          <img class="map-pin" src="map-pin0.svg" />
          <div class="store-location-lincoln-344-illinois-chicago-usa">
            Localización, Tibás, San Juan, Costa Rica
          </div>
        </div>
        <div class="links">
          <div class="eng">
            <div class="eng2">Eng</div>
            <img class="group3" src="group2.svg" />
          </div>
          <div class="usd">
            <div class="usd2">USD</div>
            <img class="group4" src="group3.svg" />
          </div>
          <div class="devider"></div>
          <div class="account">
            <div class="sign-in">Iniciar Sesión</div>
            <div class="div">/</div>
            <div class="sign-up">Registrarse</div>
          </div>
        </div>
      </div>
      <div class="midle">
        <div class="logo">
          <div class="plant-1">
            <img class="group5" src="group4.svg" />
          </div>
          <div class="ecobazar">Fadiva y Sagaz</div>
        </div>
        <div class="search">
          <div class="searech">
            <div class="search2">
              <img class="group6" src="group5.svg" />
            </div>
            <div class="search3">Buscar</div>
          </div>
          <div class="button2">
            <div class="search4">Buscar</div>
          </div>
        </div>
        <div class="icons">
          <img class="heart" src="heart0.svg" />
          <div class="devider2"></div>
          <div class="shopping-card">
            <div class="cart">
              <img class="bag" src="bag0.svg" />
              <div class="no">
                <div class="_2">2</div>
              </div>
            </div>
            <div class="info2">
              <div class="shopping-cart">Carrito de compras:</div>
              <div class="_57-00">₡15000</div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-links">
        <div class="nav-links2">
          <div class="nav-links3">
            <div class="home2">Home</div>
            <div class="chevron-down">
              <img class="group7" src="group6.svg" />
            </div>
          </div>
          <div class="nav-links3">
            <div class="home3">Tienda</div>
            <div class="chevron-down">
              <img class="group8" src="group7.svg" />
            </div>
          </div>
          <div class="nav-links3">
            <div class="home3">Contáctanos</div>
          </div>
        </div>
        <div class="call-now">
          <div class="phone-call-1">
            <img class="group9" src="group8.svg" />
          </div>
          <div class="_219-555-0114">(219) 555-0114</div>
        </div>
      </div>
    </div>
    <img class="vector2" src="vector1.svg" />
    <div class="footer">
      <div class="subscribe-our-newsletter">
        <div class="rectangle-42"></div>
        <div class="frame-143">
          <div class="subcribe-our-newsletter">
            Suscríbete a nuestro programa de lealtad
          </div>
        </div>
        <div class="subscribe">
          <div class="input-field2">
            <div class="your-email-address">Correo Electrónico</div>
          </div>
          <div class="button3">
            <div class="subscribe2">Subscribirme</div>
          </div>
        </div>
        <div class="frame-144">
          <div class="social-media">
            <div class="ellipse-3"></div>
            <img class="facebook-1" src="facebook-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="twitter-1" src="twitter-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="pinterest-1" src="pinterest-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="instagram-1" src="instagram-10.svg" />
          </div>
        </div>
      </div>
      <div class="footer2">
        <div class="fotter">
          <div class="company">
            <div class="logo2">
              <div class="plant-1">
                <img class="group10" src="group9.svg" />
              </div>
              <div class="ecobazar2">Fadiva & Sagaz</div>
            </div>
            <div
              class="morbi-cursus-porttitor-enim-lobortis-molestie-duis-gravida-turpis-dui-eget-bibendum-magna-congue-nec"
            ></div>
          </div>
          <div class="my-account">
            <div class="my-account2">Mi Cuenta</div>
            <div class="links2">
              <div class="my-account3">Mi Cuenta</div>
              <div class="order-history">Historial de Compras</div>
              <div class="shoping-cart">Carrito de compras</div>
              <div class="wishlist">Favoritos</div>
            </div>
          </div>
          <div class="help">
            <div class="helps">Soporte</div>
            <div class="links2">
              <div class="contact2">Contactanos</div>
              <div class="faqs">Preguntas Frecuentes</div>
              <div class="terms-condition">Terminos y Condiciones</div>
              <div class="privacy-policy">Politicas de Privacidad</div>
            </div>
          </div>
          <div class="proxy">
            <div class="proxy2">Proxy</div>
            <div class="links2">
              <div class="about">Sobre nosotros</div>
              <div class="shop">Tienda</div>
              <div class="product3">Producto</div>
              <div class="track-order">Seguimiento de Orden</div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="frame-142">
            <div class="method-apple-pay">
              <div class="payment-method2">
                <div class="base"></div>
              </div>
              <img class="apple-pay" src="apple-pay0.svg" />
            </div>
            <div class="method-visa">
              <div class="payment-method3">
                <div class="base"></div>
              </div>
              <img class="visa-logo" src="visa-logo0.svg" />
            </div>
            <div class="method-discover">
              <div class="payment-method2">
                <div class="base"></div>
              </div>
              <img class="discover" src="discover0.svg" />
            </div>
            <div class="method-mastercard">
              <div class="payment-method2">
                <div class="base"></div>
              </div>
              <img class="mastercard" src="mastercard0.svg" />
            </div>
            <div class="cart2">
              <div class="base2"></div>
              <div class="lock-1">
                <img class="group11" src="group10.svg" />
              </div>
              <div class="secure">Secure</div>
              <div class="payment">Payment</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="frame-225">
      <div class="group-25">
        <div class="phone">
          <div class="n-mero-telef-nico">Número telefónico</div>
          <div class="input-field3">
            <div class="email">Ingrese número telefónico</div>
          </div>
        </div>
        <div class="states">
          <div class="cant-n">Cantón</div>
          <div class="input-field">
            <div class="seleccionar">Seleccionar</div>
            <div class="chevron-down">
              <img class="group12" src="group11.svg" />
            </div>
          </div>
        </div>
        <div class="country-region">
          <div class="provincia">Provincia</div>
          <div class="input-field">
            <div class="seleccionar2">Seleccionar</div>
            <div class="chevron-down">
              <img class="group13" src="group12.svg" />
            </div>
          </div>
        </div>
        <div class="street-address">
          <div class="correo-electr-nico">Correo Electrónico</div>
          <div class="input-field4">
            <div class="email">Ingrese su correo electrónico</div>
          </div>
        </div>
        <div class="company-name">
          <div class="nombre-de-la-empresa-opcional">
            Nombre de la empresa(opcional)
          </div>
          <div class="input-field5">
            <div class="filled-gmail-com">Nombre de la empresa</div>
          </div>
        </div>
        <div class="last-name">
          <div class="apellidos">Apellidos</div>
          <div class="input-field5">
            <div class="filled-gmail-com2">Ingrese sus apellidos</div>
          </div>
        </div>
        <div class="first-name">
          <div class="nombre">Nombre</div>
          <div class="input-field5">
            <div class="filled-gmail-com">Ingrese su nombre</div>
          </div>
        </div>
        <div class="informaci-n-de-pago">Información de Pago</div>
      </div>
      <div class="line-55"></div>
      <div class="additional-info">
        <div class="informaci-n-adicional">Información adicional</div>
        <div class="first-name2">
          <div class="notas-de-la-orden-opcional">
            Notas de la orden (Opcional)
          </div>
          <div class="input-field6">
            <div class="filled-gmail-com">Notas sobre la orden</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>