<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/EditarPerfil.css">
  
  
  <style>
   a,
   button,
   input,
   select, h1,
   h2,
   h3,
   h4,
   h5,
   * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   text-decoration: none;
   appearance: none;
   background: none;
   
   -webkit-font-smoothing: antialiased;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="editar-perfil">
    <div class="footer">
      <div class="subscribe-our-newsletter">
        <div class="rectangle-42"></div>
        <div class="frame-143">
          <div class="subcribe-our-newsletter">
            Subcribete a nuestro Programa de Lealtad
          </div>
          <div
            class="pellentesque-eu-nibh-eget-mauris-congue-mattis-mattis-nec-tellus-phasellus-imperdiet-elit-eu-magna"
          >
            Suscribete a nuestro boletín informativo y date cuenta de todas las
            novedades que tenemos para ti.
          </div>
        </div>
        <div class="subscribe">
          <div class="input-field">
            <div class="your-email-address">Tu correo electrónico</div>
          </div>
          <div class="button">
            <div class="subscribe2">Suscribirme</div>
          </div>
        </div>
        <div class="frame-144">
          <div class="social-media">
            <div class="ellipse-3"></div>
            <img class="facebook-1" src="facebook-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="twitter-1" src="twitter-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="pinterest-1" src="pinterest-10.svg" />
          </div>
          <div class="social-media2">
            <div class="ellipse-32"></div>
            <img class="instagram-1" src="instagram-10.svg" />
          </div>
        </div>
      </div>
      <div class="footer2">
        <div class="fotter">
          <div class="company">
            <div class="logo">
              <div class="plant-1">
                <img class="group" src="group0.svg" />
              </div>
              <div class="ecobazar">Fadiva & Sagaz</div>
            </div>
            <div
              class="morbi-cursus-porttitor-enim-lobortis-molestie-duis-gravida-turpis-dui-eget-bibendum-magna-congue-nec"
            ></div>
          </div>
          <div class="my-account">
            <div class="my-account2">Mi cuenta</div>
            <div class="links">
              <div class="my-account3">Mi cuenta</div>
              <div class="order-history">Historial</div>
              <div class="shoping-cart">Carrito</div>
              <div class="wishlist">Favoritos</div>
            </div>
          </div>
          <div class="help">
            <div class="helps">Soporte</div>
            <div class="links">
              <div class="contact">Contactanos</div>
              <div class="faqs">Preguntas Frequentes</div>
              <div class="terms-condition">Terminos y condiciones</div>
              <div class="privacy-policy">Politicas de privacidad</div>
            </div>
          </div>
          <div class="proxy">
            <div class="proxy2">Proxy</div>
            <div class="links">
              <div class="about">Sobre nosotros</div>
              <div class="shop">Tienda</div>
              <div class="product">Producost</div>
              <div class="track-order">Seguimiento de orden</div>
            </div>
          </div>
        </div>
        <div class="copyright">
          <div class="frame-142">
            <div class="method-apple-pay">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="apple-pay" src="apple-pay0.svg" />
            </div>
            <div class="method-visa">
              <div class="payment-method2">
                <div class="base"></div>
              </div>
              <img class="visa-logo" src="visa-logo0.svg" />
            </div>
            <div class="method-discover">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="discover" src="discover0.svg" />
            </div>
            <div class="method-mastercard">
              <div class="payment-method">
                <div class="base"></div>
              </div>
              <img class="mastercard" src="mastercard0.svg" />
            </div>
            <div class="cart">
              <div class="base2"></div>
              <div class="lock-1">
                <img class="group2" src="group1.svg" />
              </div>
              <div class="secure">Secure</div>
              <div class="payment">Payment</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="rectangle-47"></div>
    <div class="button2">
      <div class="normal">Guardar</div>
    </div>
    <div class="first-name">
      <div class="contrase-a-actual">Contraseña Actual</div>
      <div class="input-field2">
        <div class="password">Password</div>
        <div class="eye-open-1">
          <img class="group3" src="group2.svg" />
        </div>
      </div>
    </div>
    <div class="first-name2">
      <div class="nueva-contrase-a">Nueva contraseña</div>
      <div class="input-field2">
        <div class="password2">Password</div>
        <div class="eye-open-1">
          <img class="group4" src="group3.svg" />
        </div>
      </div>
    </div>
    <div class="first-name3">
      <div class="confirmar-contrase-a">Confirmar Contraseña</div>
      <div class="input-field2">
        <div class="password2">Password</div>
        <div class="eye-open-1">
          <img class="group5" src="group4.svg" />
        </div>
      </div>
    </div>
    <div class="heading">
      <div class="cambiar-contrase-a">Cambiar contraseña</div>
    </div>
    <div class="bg"></div>
    <div class="button3">
      <div class="normal">Guardar</div>
    </div>
    <div class="account-setting">
      <div class="first-name4">
        <div class="primer-nombre">Primer Nombre</div>
        <div class="input-field3">
          <div class="filled-gmail-com">Dennis</div>
        </div>
      </div>
      <div class="last-name">
        <div class="apellido">Apellido</div>
        <div class="input-field3">
          <div class="filled-gmail-com">Angulo</div>
        </div>
      </div>
      <div class="email">
        <div class="email2">Email</div>
        <div class="input-field3">
          <div class="filled-gmail-com">Dennis@gmail.com</div>
        </div>
      </div>
      <div class="phone-number">
        <div class="numero-de-telefono">Numero de Telefono</div>
        <div class="input-field3">
          <div class="filled-gmail-com">(603) 555-0123</div>
        </div>
      </div>
      <div class="phone-number">
        <div class="fecha-de-cumplea-os">Fecha de cumpleaños</div>
        <div class="input-field3">
          <div class="filled-gmail-com"></div>
        </div>
      </div>
    </div>
    <div class="heading2">
      <div class="configuracion-de-cuenta">Configuracion de cuenta</div>
    </div>
    <div class="choose-image">
      <div class="button4">
        <div class="normal2">Escoge una imagen</div>
      </div>
      <img class="image" src="image0.png" />
    </div>
    <div
      class="breadcrumbs"
      style="
        background: url(breadcrumbs0.png) center;
        background-size: cover;
        background-repeat: no-repeat;
      "
    >
      <div class="location">
        <div class="home-1-1">
          <img class="group6" src="group5.svg" />
        </div>
        <img class="group7" src="group6.svg" />
        <div class="home">Cuenta</div>
        <img class="vector" src="vector0.svg" />
        <div class="vegetables">Configuracion</div>
      </div>
    </div>
    <div class="bg2"></div>
    <div class="button5">
      <div class="normal">Guardar</div>
    </div>
    <div class="input-field4">
      <div class="nombre">Nombre</div>
      <div class="input-field5">
        <div class="filled-gmail-com">Dennis</div>
      </div>
    </div>
    <div class="input-field6">
      <div class="apellido">Apellido</div>
      <div class="input-field5">
        <div class="filled-gmail-com">Angulo</div>
      </div>
    </div>
    <div class="input-field7">
      <div class="telefono">Telefono</div>
      <div class="input-field8">
        <div class="filled-gmail-com">(603) 555-0123</div>
      </div>
    </div>
    <div class="input-field9">
      <div class="nombre-de-la-compa-ia-optional">
        <span>
          <span class="nombre-de-la-compa-ia-optional-span">
            Nombre de la compañia
          </span>
          <span class="nombre-de-la-compa-ia-optional-span2">(optional)</span>
        </span>
      </div>
      <div class="input-field5">
        <div class="filled-gmail-com"></div>
      </div>
    </div>
    <div class="input-field10">
      <div class="email2">Email</div>
      <div class="input-field8">
        <div class="filled-gmail-com">Dennis@gmail.com</div>
      </div>
    </div>
    <div class="input-field11">
      <div class="canton">Canton</div>
      <div class="input-field12">
        <div class="belen">Belen</div>
        <div class="chevron-down">
          <img class="group8" src="group7.svg" />
        </div>
      </div>
    </div>
    <div class="input-field13">
      <div class="zip-code">Zip Code</div>
      <div class="input-field12">
        <div class="_10401">10401</div>
      </div>
    </div>
    <div class="input-field14">
      <div class="provincia">Provincia</div>
      <div class="input-field12">
        <div class="heredia">Heredia</div>
        <div class="chevron-down">
          <img class="group9" src="group8.svg" />
        </div>
      </div>
    </div>
    <div class="input-field15">
      <div class="direcci-n">Dirección</div>
      <div class="input-field16">
        <div class="typ">4140 Par|</div>
      </div>
    </div>
    <div class="heading3">
      <div class="direcci-n-de-envio">
        Dirección de Envio
        <br />
      </div>
    </div>
    <div class="navigation">
      <div class="small-one">
        <div class="contact2">
          <img class="map-pin" src="map-pin0.svg" />
          <div class="store-location-lincoln-344-illinois-chicago-usa">
            Localización, Tibás, San Juan, Costa Rica
          </div>
        </div>
        <div class="links2">
          <div class="eng">
            <div class="eng2">Eng</div>
            <img class="group10" src="group9.svg" />
          </div>
          <div class="usd">
            <div class="usd2">USD</div>
            <img class="group11" src="group10.svg" />
          </div>
          <div class="devider"></div>
          <div class="account">
            <div class="sign-in">Iniciar Sesion</div>
            <div class="div">/</div>
            <div class="sign-up">Registrarse</div>
          </div>
        </div>
      </div>
      <div class="midle">
        <div class="logo2">
          <div class="plant-1">
            <img class="group12" src="group11.svg" />
          </div>
          <div class="ecobazar2">Fadiva y Sagaz</div>
        </div>
        <div class="search">
          <div class="searech">
            <div class="search2">
              <img class="group13" src="group12.svg" />
            </div>
            <div class="search3">Buscar</div>
          </div>
          <div class="button6">
            <div class="search4">Buscar</div>
          </div>
        </div>
        <div class="icons">
          <img class="heart" src="heart0.svg" />
          <div class="devider2"></div>
          <div class="shopping-card">
            <div class="cart2">
              <img class="bag" src="bag0.svg" />
              <div class="no">
                <div class="_2">2</div>
              </div>
            </div>
            <div class="info">
              <div class="shopping-cart">Carrito de compras</div>
              <div class="_57-00">₡15000</div>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-links">
        <div class="nav-links2">
          <div class="nav-links3">
            <div class="home2">Home</div>
            <div class="chevron-down">
              <img class="group14" src="group13.svg" />
            </div>
          </div>
          <div class="nav-links3">
            <div class="home3">Tienda</div>
            <div class="chevron-down">
              <img class="group15" src="group14.svg" />
            </div>
          </div>
          <div class="nav-links3">
            <div class="home3">Contáctanos</div>
          </div>
        </div>
        <div class="call-now">
          <div class="phone-call-1">
            <img class="group16" src="group15.svg" />
          </div>
          <div class="_219-555-0114">(506) 8921-8680</div>
        </div>
      </div>
    </div>
    <img class="vector2" src="vector1.svg" />
    <div class="dashboard-navigation">
      <div class="heading4">
        <div class="navigation2">Navegacion</div>
      </div>
      <div class="account-links">
        <div class="dashboard-2">
          <img class="group17" src="group16.svg" />
        </div>
        <div class="dashboard">Dashboard</div>
      </div>
      <div class="account-links2">
        <div class="refresh-02-1">
          <img class="group18" src="group17.svg" />
        </div>
        <div class="dashboard">Historial de ordenes</div>
      </div>
      <div class="account-links">
        <img class="dashboard-22" src="dashboard-21.svg" />
        <div class="dashboard">Carrito de Compras</div>
      </div>
      <div class="account-links">
        <div class="dashboard-2">
          <img class="group19" src="group18.svg" />
        </div>
        <div class="dashboard">Configuracion</div>
      </div>
    </div>
    <div class="account-links3">
      <div class="refresh-02-1">
        <img class="group20" src="group19.svg" />
      </div>
      <div class="dashboard">Puntos Acumulados</div>
    </div>
    <div class="account-links4">
      <div class="dashboard-2">
        <img class="group21" src="group20.svg" />
      </div>
      <div class="dashboard">Log-out</div>
    </div>
  </div>
  
</body>
</html>