<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/css/Popup.css">
  
  
  <style>
   a,
   button,
   input,
   select, h1,
   h2,
   h3,
   h4,
   h5,
   * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   border: none;
   text-decoration: none;
   appearance: none;
   background: none;
   
   -webkit-font-smoothing: antialiased;
   }
   </style>
  <title>Document</title>
</head>
<body>
  <div class="popup">
    <div class="popular-categories">
      <div class="category">
        <img class="image-1" src="image-10.png" />
        <div class="fresh-fruit">Diabetic Food</div>
      </div>
      <div class="category2">
        <img class="image-1" src="image-11.png" />
        <div class="fresh-fruit">Fresh Fruit</div>
      </div>
      <div class="category3">
        <img class="image-1" src="image-12.png" />
        <div class="fresh-fruit">Bread &amp; Bakery</div>
      </div>
      <div class="category4">
        <img class="image-1" src="image-13.png" />
        <div class="fresh-fruit2">Fresh Vegetables</div>
      </div>
      <div class="category5">
        <img class="image-1" src="image-14.png" />
        <div class="fresh-fruit">Baking Needs</div>
      </div>
      <div class="category6">
        <img class="image-1" src="image-15.png" />
        <div class="fresh-fruit">Meat &amp; Fish</div>
      </div>
      <div class="category7">
        <img class="image-1" src="image-16.png" />
        <div class="fresh-fruit">Cooking</div>
      </div>
      <div class="category8">
        <img class="image-1" src="image-17.png" />
        <div class="fresh-fruit">Snacks</div>
      </div>
      <div class="category9">
        <img class="image-1" src="image-18.png" />
        <div class="fresh-fruit">Beverages</div>
      </div>
      <div class="category10">
        <img class="image-1" src="image-19.png" />
        <div class="fresh-fruit">Dish Detergents</div>
      </div>
      <div class="category11">
        <img class="image-1" src="image-110.png" />
        <div class="fresh-fruit">Oil</div>
      </div>
      <div class="category12">
        <img class="image-1" src="image-111.png" />
        <div class="fresh-fruit">Beauty &amp; Health</div>
      </div>
      <div class="heading">
        <div class="popular-categories2">Popular Categories</div>
        <div class="button">
          <div class="view-all">View All</div>
          <img class="group" src="group0.svg" />
        </div>
      </div>
    </div>
    <div class="header">
      <div class="navigation">
        <div class="small-one">
          <div class="contact">
            <img class="map-pin" src="map-pin0.svg" />
            <div class="store-location-lincoln-344-illinois-chicago-usa">
              Store Location: Lincoln- 344, Illinois, Chicago, USA
            </div>
          </div>
          <div class="links">
            <div class="eng">
              <div class="eng2">Eng</div>
              <img class="group2" src="group1.svg" />
            </div>
            <div class="usd">
              <div class="usd2">USD</div>
              <img class="group3" src="group2.svg" />
            </div>
            <div class="devider"></div>
            <div class="account">
              <div class="sign-in">Sign In</div>
              <div class="div">/</div>
              <div class="sign-up">Sign Up</div>
            </div>
          </div>
        </div>
        <div class="midle">
          <div class="logo">
            <div class="plant-1">
              <img class="group4" src="group3.svg" />
            </div>
            <div class="ecobazar">Ecobazar</div>
          </div>
          <div class="search">
            <div class="searech">
              <div class="search2">
                <img class="group5" src="group4.svg" />
              </div>
              <div class="search3">Search</div>
            </div>
            <div class="button2">
              <div class="search4">Search</div>
            </div>
          </div>
          <div class="icons">
            <img class="heart" src="heart0.svg" />
            <div class="devider2"></div>
            <div class="shopping-card">
              <div class="cart">
                <img class="bag" src="bag0.svg" />
                <div class="no">
                  <div class="_2">2</div>
                </div>
              </div>
              <div class="info">
                <div class="shopping-cart">Shopping cart:</div>
                <div class="_57-00">$57.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-links">
          <div class="nav-links2">
            <div class="nav-links3">
              <div class="home">Home</div>
              <div class="chevron-down">
                <img class="group6" src="group5.svg" />
              </div>
            </div>
            <div class="nav-links3">
              <div class="home2">Shop</div>
              <div class="chevron-down">
                <img class="group7" src="group6.svg" />
              </div>
            </div>
            <div class="nav-links3">
              <div class="home2">Pages</div>
              <div class="chevron-down">
                <img class="group8" src="group7.svg" />
              </div>
            </div>
            <div class="nav-links3">
              <div class="home2">Blog</div>
              <div class="chevron-down">
                <img class="group9" src="group8.svg" />
              </div>
            </div>
            <div class="nav-links3">
              <div class="home2">About Us</div>
            </div>
            <div class="nav-links3">
              <div class="home2">Contact Us</div>
            </div>
          </div>
          <div class="call-now">
            <div class="phone-call-1">
              <img class="group10" src="group9.svg" />
            </div>
            <div class="_219-555-0114">(219) 555-0114</div>
          </div>
        </div>
      </div>
      <div class="bannar">
        <div
          class="bannar-big"
          style="
            background: url(bannar-big0.png) center;
            background-size: cover;
            background-repeat: no-repeat;
          "
        >
          <div class="frame-215">
            <div class="fresh-healthy-organic-food">
              Fresh &amp; Healthy
              <br />
              Organic Food
            </div>
            <div class="frame-212">
              <div class="rectangle-57"></div>
              <div class="description">
                <div class="frame-214">
                  <div class="sale-up-to">Sale up to</div>
                  <div class="frame-213">
                    <div class="_30-off">30% OFF</div>
                  </div>
                </div>
                <div class="free-shipping-on-all-your-order">
                  Free shipping on all your order.
                </div>
              </div>
            </div>
            <div class="button3">
              <div class="shop-now">Shop now</div>
              <img class="group11" src="group10.svg" />
            </div>
          </div>
        </div>
        <div class="bannar2">
          <img class="bg" src="bg0.png" />
          <div class="info2">
            <div class="frame-216">
              <div class="frame-217">
                <div class="summer-sale">Summer Sale</div>
                <div class="_75-off">75% OFF</div>
              </div>
              <div class="only-fruit-vegetable">Only Fruit &amp; Vegetable</div>
            </div>
            <div class="button">
              <div class="shop-now2">Shop Now</div>
              <img class="group12" src="group11.svg" />
            </div>
          </div>
        </div>
        <div class="bannar3">
          <img class="bg2" src="bg1.png" />
          <div class="info3">
            <div class="info4">
              <div class="best-deal">Best Deal</div>
              <div class="special-products-deal-of-the-month">
                Special Products Deal of the Month
              </div>
            </div>
            <div class="button">
              <div class="shop-now3">Shop Now</div>
              <img class="group13" src="group12.svg" />
            </div>
          </div>
        </div>
      </div>
      <div class="featured">
        <div class="feature">
          <img class="delivery-truck-1" src="delivery-truck-10.svg" />
          <div class="info5">
            <div class="free-shipping">Free Shipping</div>
            <div class="free-shipping-on-all-your-order2">
              Free shipping on all your order
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="headphones-1">
            <img class="group14" src="group13.svg" />
          </div>
          <div class="info5">
            <div class="customer-support-24-7">Customer Support 24/7</div>
            <div class="instant-access-to-support">Instant access to Support</div>
          </div>
        </div>
        <div class="feature">
          <div class="shopping-bag">
            <img class="group15" src="group14.svg" />
          </div>
          <div class="info5">
            <div class="_100-secure-payment">100% Secure Payment</div>
            <div class="we-ensure-your-money-is-save">
              We ensure your money is save
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="package">
            <img class="group16" src="group15.svg" />
          </div>
          <div class="info5">
            <div class="money-back-guarantee">Money-Back Guarantee</div>
            <div class="_30-days-money-back-guarantee">
              30 Days Money-Back Guarantee
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg3"></div>
    <div class="newsletter">
      <div class="bg4"></div>
      <img class="bg5" src="bg4.png" />
      <div class="close">
        <div class="ellipse-2"></div>
        <div class="x-1">
          <img class="group17" src="group16.svg" />
        </div>
      </div>
      <div class="checkbox">
        <div class="checkbox2"></div>
      </div>
      <div class="input-field">
        <div class="enter-your-email">Ingrese su correo</div>
      </div>
      <div class="button4">
        <div class="subscribe2">Suscribirse</div>
      </div>
      <div class="subcribe-our-newsletter">
        Suscríbete a nuestro programa de lealtad
      </div>
      <div
        class="subscribe-to-our-newlletter-and-save-your-20-money-with-discount-code-today"
      >
        Adquiere más puntos acumulados a la hora de comprar
      </div>
    </div>
  </div>
  
</body>
</html>