@model IEnumerable<PymeCafe.Models.Detallespedido>

@{
    ViewData["Title"] = "Index";
}

<h1>Detalles de pedidos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered shadow-sm">
    <thead class="table-dark">
        <tr>
            <th>Producto</th>
            <th class="text-center">Cantidad</th>
            <th class="text-end">Precio Unitario</th>
            <th class="text-end">Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.Producto?.NombreProducto ?? "Sin nombre")</td>
                <td class="text-center">@item.Cantidad</td>
                <td class="text-end">@item.PrecioUnitario?.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-CR"))</td>
                <td class="text-end">@(((item.Cantidad ?? 0) * (item.PrecioUnitario ?? 0)).ToString("C", System.Globalization.CultureInfo.GetCultureInfo("es-CR")))</td>
            </tr>
        }
    </tbody>
</table>
