<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PymeCafe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PymeCafe.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <!-- Barra superior -->
    <header class="bg-light py-2">
        <div class="container d-flex justify-content-between align-items-center">
            <div class="text-muted">
                <i class="fas fa-map-marker-alt"></i> Localización, Tibás, San Juan, Costa Rica
            </div>
            <div>
                <a href="#" class="text-muted me-3">Esp <i class="fas fa-globe"></i></a>
                <a class="text-muted" asp-controller="Home" asp-action="Logout">Registrarse / Iniciar sesión</a>
                <a class="text-muted" asp-controller="Usuario" asp-action="Perfil">Mi Perfil</a>
            </div>
        </div>
    </header>
    <!-- Barra de navegación principal -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container">
            <a class="navbar-brand text-success fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fas fa-seedling"></i> PymeCafe
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Tienda" asp-action="Index">Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Logout">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
        <div class="footer">
            <div class="subscribe-our-newsletter">
                <div class="rectangle-42"></div>
                <div class="frame-143">
                    <div class="subcribe-our-newsletter">
                        Subcribete a nuestro Programa de Lealtad
                    </div>
                    <div class="pellentesque-eu-nibh-eget-mauris-congue-mattis-mattis-nec-tellus-phasellus-imperdiet-elit-eu-magna">
                        Suscribete a nuestro boletín informativo y date cuenta de todas las
                        novedades que tenemos para ti.
                    </div>
                </div>
                <div class="subscribe">
                    <div class="input-field">
                        <div class="your-email-address">Tu correo electrónico</div>
                    </div>
                    <div class="button">
                        <div class="suscribirme">Suscribirme</div>
                    </div>
                </div>
                <div class="frame-144">
                    <div class="social-media">
                        <div class="ellipse-3"></div>
                        <svg class="facebook-1"
                             width="18"
                             height="18"
                             viewBox="0 0 18 18"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_174_12366)">
                                <path d="M11.9976 2.98875H13.6409V0.12675C13.3574 0.08775 12.3824 0 11.2469 0C8.87764 0 7.25464 1.49025 7.25464 4.22925V6.75H4.64014V9.9495H7.25464V18H10.4601V9.95025H12.9689L13.3671 6.75075H10.4594V4.5465C10.4601 3.62175 10.7091 2.98875 11.9976 2.98875Z"
                                      fill="white" />
                            </g>
                            <defs>
                                <clipPath id="clip0_174_12366">
                                    <rect width="18" height="18" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="social-media2">
                        <div class="ellipse-32"></div>
                        <svg class="twitter-1"
                             width="18"
                             height="18"
                             viewBox="0 0 18 18"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_174_13341)">
                                <path d="M18 3.41888C17.3306 3.7125 16.6174 3.90713 15.8737 4.00163C16.6388 3.54488 17.2226 2.82713 17.4971 1.962C16.7839 2.38725 15.9964 2.68763 15.1571 2.85525C14.4799 2.13413 13.5146 1.6875 12.4616 1.6875C10.4186 1.6875 8.77387 3.34575 8.77387 5.37863C8.77387 5.67113 8.79862 5.95238 8.85938 6.22013C5.7915 6.0705 3.07687 4.60013 1.25325 2.36025C0.934875 2.91263 0.748125 3.54488 0.748125 4.2255C0.748125 5.5035 1.40625 6.63638 2.38725 7.29225C1.79437 7.281 1.21275 7.10888 0.72 6.83775C0.72 6.849 0.72 6.86363 0.72 6.87825C0.72 8.6715 1.99912 10.161 3.6765 10.5041C3.37612 10.5863 3.04875 10.6256 2.709 10.6256C2.47275 10.6256 2.23425 10.6121 2.01038 10.5626C2.4885 12.024 3.84525 13.0984 5.4585 13.1333C4.203 14.1154 2.60888 14.7071 0.883125 14.7071C0.5805 14.7071 0.29025 14.6936 0 14.6565C1.63462 15.7106 3.57188 16.3125 5.661 16.3125C12.4515 16.3125 16.164 10.6875 16.164 5.81175C16.164 5.64863 16.1584 5.49113 16.1505 5.33475C16.8829 4.815 17.4982 4.16588 18 3.41888Z"
                                      fill="#4D4D4D" />
                            </g>
                            <defs>
                                <clipPath id="clip0_174_13341">
                                    <rect width="18" height="18" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="social-media2">
                        <div class="ellipse-32"></div>
                        <svg class="pinterest-1"
                             width="18"
                             height="18"
                             viewBox="0 0 18 18"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.24446 0C4.31112 0 1.6875 3.16139 1.6875 6.60855C1.6875 8.20724 2.58079 10.2008 4.01073 10.8331C4.22786 10.931 4.34599 10.8894 4.39437 10.688C4.43712 10.535 4.62501 9.79807 4.71614 9.45042C4.74426 9.33904 4.72964 9.24229 4.63963 9.13766C4.16486 8.58864 3.78797 7.58847 3.78797 6.65017C3.78797 4.24594 5.69943 1.91146 8.95195 1.91146C11.7646 1.91146 13.7323 3.73854 13.7323 6.35204C13.7323 9.30529 12.1696 11.3484 10.1389 11.3484C9.01495 11.3484 8.17792 10.4663 8.44343 9.37505C8.76407 8.07561 9.39297 6.6783 9.39297 5.74113C9.39297 4.90072 8.9182 4.20544 7.94841 4.20544C6.80423 4.20544 5.87606 5.33837 5.87606 6.85943C5.87606 7.82585 6.21808 8.47838 6.21808 8.47838C6.21808 8.47838 5.08628 13.0506 4.87589 13.9045C4.52038 15.3502 4.92427 17.6914 4.95915 17.8928C4.98052 18.0042 5.1054 18.0391 5.17516 17.9479C5.28654 17.8017 6.6546 15.8497 7.03824 14.4389C7.17775 13.9248 7.7504 11.84 7.7504 11.84C8.12729 12.5207 9.21521 13.0911 10.374 13.0911C13.8212 13.0911 16.312 10.0613 16.312 6.30141C16.2997 2.69675 13.2148 0 9.24446 0Z"
                                  fill="#4D4D4D" />
                        </svg>
                    </div>
                    <div class="social-media2">
                        <div class="ellipse-32"></div>
                        <svg class="instagram-1"
                             width="18"
                             height="18"
                             viewBox="0 0 18 18"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_174_12380)">
                                <path d="M17.9825 5.29205C17.9403 4.33564 17.7857 3.67812 17.5641 3.10836C17.3355 2.50359 16.9839 1.96213 16.5232 1.51201C16.0731 1.05489 15.5281 0.699691 14.9303 0.474702C14.3573 0.253147 13.7032 0.0984842 12.7468 0.0563159C11.7832 0.0105764 11.4773 0 9.03348 0C6.58965 0 6.28376 0.0105764 5.32378 0.0527447C4.36737 0.0949129 3.70985 0.249713 3.14024 0.471131C2.53532 0.699691 1.99386 1.05132 1.54375 1.51201C1.08663 1.96213 0.731566 2.50716 0.50644 3.10493C0.284885 3.67812 0.130222 4.33207 0.0880541 5.28848C0.0423147 6.25203 0.0317383 6.55792 0.0317383 9.00176C0.0317383 11.4456 0.0423147 11.7515 0.0844829 12.7115C0.126651 13.6679 0.281451 14.3254 0.503006 14.8952C0.731566 15.4999 1.08663 16.0414 1.54375 16.4915C1.99386 16.9486 2.53889 17.3038 3.13666 17.5288C3.70985 17.7504 4.3638 17.905 5.32035 17.9472C6.28019 17.9895 6.58622 17.9999 9.03005 17.9999C11.4739 17.9999 11.7798 17.9895 12.7398 17.9472C13.6962 17.905 14.3537 17.7504 14.9233 17.5288C16.133 17.0611 17.0894 16.1047 17.5571 14.8952C17.7785 14.322 17.9333 13.6679 17.9755 12.7115C18.0176 11.7515 18.0282 11.4456 18.0282 9.00176C18.0282 6.55792 18.0247 6.25203 17.9825 5.29205ZM16.3615 12.6411C16.3228 13.5202 16.1752 13.9949 16.0521 14.3114C15.7496 15.0956 15.1273 15.7179 14.3431 16.0204C14.0266 16.1434 13.5485 16.2911 12.6729 16.3297C11.7235 16.372 11.4387 16.3824 9.03705 16.3824C6.63539 16.3824 6.34708 16.372 5.40111 16.3297C4.52203 16.2911 4.04733 16.1434 3.73087 16.0204C3.34064 15.8761 2.98544 15.6476 2.69713 15.3487C2.39824 15.0568 2.16968 14.7052 2.02546 14.315C1.90239 13.9985 1.75473 13.5202 1.71613 12.6447C1.67383 11.6953 1.66339 11.4104 1.66339 9.00876C1.66339 6.60709 1.67383 6.31878 1.71613 5.37295C1.75473 4.49387 1.90239 4.01917 2.02546 3.7027C2.16968 3.31234 2.39824 2.95727 2.7007 2.66883C2.99244 2.36994 3.34407 2.14138 3.73444 1.99729C4.0509 1.87422 4.52918 1.72656 5.40468 1.68783C6.35408 1.64566 6.63896 1.63508 9.04049 1.63508C11.4457 1.63508 11.7305 1.64566 12.6764 1.68783C13.5555 1.72656 14.0302 1.87422 14.3467 1.99729C14.7369 2.14138 15.0921 2.36994 15.3804 2.66883C15.6793 2.96071 15.9079 3.31234 16.0521 3.7027C16.1752 4.01917 16.3228 4.49731 16.3615 5.37295C16.4037 6.32236 16.4143 6.60709 16.4143 9.00876C16.4143 11.4104 16.4037 11.6917 16.3615 12.6411Z"
                                      fill="#4D4D4D" />
                                <path d="M9.03313 4.37695C6.48037 4.37695 4.40918 6.44801 4.40918 9.0009C4.40918 11.5538 6.48037 13.6249 9.03313 13.6249C11.586 13.6249 13.6571 11.5538 13.6571 9.0009C13.6571 6.44801 11.586 4.37695 9.03313 4.37695ZM9.03313 12.0003C7.37703 12.0003 6.03369 10.6571 6.03369 9.0009C6.03369 7.34467 7.37703 6.00146 9.03313 6.00146C10.6894 6.00146 12.0326 7.34467 12.0326 9.0009C12.0326 10.6571 10.6894 12.0003 9.03313 12.0003Z"
                                      fill="#4D4D4D" />
                                <path d="M14.9199 4.19472C14.9199 4.79084 14.4365 5.2742 13.8402 5.2742C13.2441 5.2742 12.7607 4.79084 12.7607 4.19472C12.7607 3.59845 13.2441 3.11523 13.8402 3.11523C14.4365 3.11523 14.9199 3.59845 14.9199 4.19472Z"
                                      fill="#4D4D4D" />
                            </g>
                            <defs>
                                <clipPath id="clip0_174_12380">
                                    <rect width="18" height="18" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="footer2">
                <div class="fotter">
                    <div class="company">
                        <div class="logo">
                            <div class="plant-1">
                                <svg class="group"
                                     width="32"
                                     height="30"
                                     viewBox="0 0 32 30"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M31.2749 3.34308C27.4022 3.34308 21.9311 3.66711 19.1352 6.46154C17.9247 7.67204 17.3202 9.64539 17.4771 11.8789C17.4975 12.174 17.6937 12.4253 17.9756 12.5184C18.256 12.6099 18.5641 12.5241 18.7559 12.2989C20.3108 10.4694 22.2435 9.00318 24.5046 7.9409C24.6964 7.84935 24.9231 7.84206 25.1295 7.91474C25.3111 7.98013 25.4535 8.10363 25.5276 8.26207C25.6816 8.5876 25.6322 9.01626 25.1207 9.25746C25.0917 9.27197 25.0655 9.29091 25.0365 9.30399C25.0263 9.30835 25.0147 9.30692 25.006 9.31127C19.4346 11.9299 16.6954 16.4986 15.4514 21.1966C14.5446 15.3143 12.6294 11.8514 10.8202 9.72542C9.51095 8.02816 8.22341 7.12861 7.47943 6.62005C7.34136 6.52557 6.92435 6.24077 6.7514 6.06782C6.46803 5.78445 6.46803 5.32378 6.7514 5.04041C7.03477 4.75848 7.49687 4.75848 7.81218 5.07236C7.88923 5.14068 8.01272 5.22787 8.16966 5.3325L8.29902 5.41969C9.35108 6.14043 11.31 7.47879 13.0479 10.3604C13.2034 10.6176 13.5042 10.7557 13.7963 10.7005C14.0928 10.6481 14.3252 10.42 14.3834 10.125C14.7627 8.18796 14.5927 5.31356 12.8649 3.58578C10.069 0.792782 4.59789 0.46875 0.726671 0.46875C0.32553 0.468682 0 0.794212 0 1.19528C0 5.06793 0.324032 10.5391 3.11846 13.335C4.28387 14.5004 6.08147 15.0236 7.86736 15.0236C9.32486 15.0236 10.7533 14.6588 11.8476 14.0267C13.3399 17.119 14.5316 21.7386 14.5316 28.8053C14.5316 29.2064 14.8571 29.5319 15.2582 29.5319C15.6592 29.5319 15.9848 29.2064 15.9848 28.8053C15.9848 24.8629 16.6605 20.1314 19.173 16.2369C20.18 17.2207 21.9137 17.8441 23.8347 17.9022C23.9306 17.9052 24.0251 17.9066 24.1195 17.9066C26.0711 17.9066 27.796 17.2948 28.8815 16.2078C31.6773 13.412 31.9999 7.94083 31.9999 4.06811C32.0015 3.66711 31.6774 3.34308 31.2749 3.34308Z"
                                          fill="#00B307" />
                                </svg>
                            </div>
                            <div class="ecobazar">Fadiva y Sagaz</div>
                        </div>
                        <div class="morbi-cursus-porttitor-enim-lobortis-molestie-duis-gravida-turpis-dui-eget-bibendum-magna-congue-nec"></div>
                    </div>
                    <div class="my-account">
                        <div class="mi-cuenta">Mi cuenta</div>
                        <div class="links">
                            <div class="my-account2">Mi cuenta</div>
                            <div class="carrito">Carrito</div>
                        </div>
                    </div>
                    <div class="proxy">
                        <div class="proxy2">Proxy</div>
                        <div class="links">
                            <div class="about">Sobre nosotros</div>
                            <div class="shop">Tienda</div>
                            <div class="track-order">Seguimiento de orden</div>
                        </div>
                    </div>
                </div>
                <div class="copyright">
                    <div class="frame-142">
                        <div class="method-apple-pay">
                            <div class="payment-method">
                                <div class="base"></div>
                            </div>
                            <svg class="apple-pay"
                                 width="33"
                                 height="15"
                                 viewBox="0 0 33 15"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M6.00643 2.04138C5.62872 2.50713 5.02438 2.87448 4.42005 2.822C4.3445 2.19226 4.64038 1.52316 4.98661 1.10989C5.36432 0.631021 6.02532 0.289911 6.56041 0.263672C6.62336 0.919653 6.37785 1.56251 6.00643 2.04138ZM6.55396 2.94775C6.02155 2.91581 5.53575 3.11459 5.14335 3.27515C4.89084 3.37847 4.677 3.46597 4.51432 3.46597C4.33176 3.46597 4.1091 3.3738 3.8591 3.27031C3.53152 3.1347 3.157 2.97966 2.76426 2.9871C1.86405 3.00022 1.02679 3.53157 0.567237 4.37778C-0.377042 6.07021 0.321725 8.57606 1.23453 9.95362C1.68149 10.6358 2.21658 11.3837 2.92164 11.3574C3.23182 11.3452 3.45495 11.2466 3.68587 11.1445C3.95172 11.0269 4.22789 10.9048 4.65911 10.9048C5.07538 10.9048 5.33948 11.0237 5.59299 11.1379C5.83404 11.2464 6.06553 11.3507 6.40917 11.3443C7.13942 11.3312 7.59897 10.6621 8.04592 9.97986C8.52826 9.24765 8.74023 8.53305 8.7724 8.42461L8.77617 8.41206C8.7754 8.41126 8.76944 8.40842 8.75892 8.4034C8.59768 8.32648 7.36527 7.73857 7.35345 6.16205C7.34159 4.83879 8.33097 4.16834 8.48671 4.06281C8.49619 4.05638 8.50258 4.05205 8.50547 4.04979C7.87595 3.07894 6.8939 2.97398 6.55396 2.94775ZM11.6094 11.2711V1.04435H15.2921C17.1932 1.04435 18.5215 2.40879 18.5215 4.40297C18.5215 6.39715 17.168 7.77471 15.2417 7.77471H13.1328V11.2711H11.6094ZM13.1326 2.38339H14.889C16.2109 2.38339 16.9664 3.11808 16.9664 4.41037C16.9664 5.70265 16.2109 6.44391 14.8827 6.44391H13.1326V2.38339ZM23.5513 10.0443C23.1484 10.8446 22.2608 11.3497 21.3039 11.3497C19.8875 11.3497 18.8991 10.4707 18.8991 9.14561C18.8991 7.83364 19.856 7.07927 21.6249 6.96775L23.5261 6.84967V6.28553C23.5261 5.45244 23.0036 4.99981 22.0719 4.99981C21.3039 4.99981 20.7436 5.41308 20.6303 6.04282H19.258C19.302 4.71774 20.4981 3.75345 22.116 3.75345C23.8597 3.75345 24.9929 4.70462 24.9929 6.18057V11.271H23.5827V10.0443H23.5513ZM21.7125 10.1351C20.9004 10.1351 20.3842 9.72842 20.3842 9.10524C20.3842 8.46237 20.8815 8.08847 21.8321 8.02943L23.5255 7.91791V8.49517C23.5255 9.4529 22.7449 10.1351 21.7125 10.1351ZM29.6702 11.671C29.0596 13.4618 28.3608 14.0522 26.8751 14.0522C26.7618 14.0522 26.3841 14.0391 26.296 14.0128V12.7861C26.3904 12.7993 26.6233 12.8124 26.7429 12.8124C27.4165 12.8124 27.7942 12.5172 28.0272 11.7497L28.1657 11.2971L25.5846 3.85168H27.1773L28.9714 9.89326H29.0029L30.7971 3.85168H32.3457L29.6702 11.671Z"
                                      fill="white" />
                            </svg>
                        </div>
                        <div class="method-visa">
                            <div class="payment-method2">
                                <div class="base"></div>
                            </div>
                            <svg class="visa-logo"
                                 width="33"
                                 height="12"
                                 viewBox="0 0 33 12"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M8.72836 10.9882H6.00223L3.95797 2.95983C3.86094 2.59053 3.65492 2.26404 3.35187 2.11016C2.59557 1.72346 1.76218 1.41571 0.853027 1.26049V0.951402H5.24461C5.85071 0.951402 6.30528 1.41571 6.38104 1.95495L7.44172 7.74607L10.1665 0.951402H12.8169L8.72836 10.9882ZM14.3319 10.9882H11.7573L13.8773 0.951402H16.4519L14.3319 10.9882ZM19.7828 3.73072C19.8586 3.19015 20.3132 2.88106 20.8435 2.88106C21.6769 2.80345 22.5847 2.95866 23.3424 3.34402L23.7969 1.18306C23.0393 0.873965 22.2059 0.71875 21.4496 0.71875C18.9508 0.71875 17.1325 2.10899 17.1325 4.03848C17.1325 5.50633 18.4204 6.27705 19.3296 6.74136C20.3132 7.20433 20.692 7.51342 20.6162 7.97639C20.6162 8.67084 19.8586 8.97993 19.1023 8.97993C18.1931 8.97993 17.284 8.74845 16.4519 8.36175L15.9974 10.5241C16.9065 10.9094 17.8901 11.0646 18.7992 11.0646C21.6011 11.1409 23.3424 9.752 23.3424 7.6673C23.3424 5.04202 19.7828 4.88815 19.7828 3.73072ZM32.3533 10.9882L30.309 0.951402H28.1132C27.6587 0.951402 27.2041 1.26049 27.0526 1.72346L23.2671 10.9882H25.9174L26.4464 9.52168H29.7029L30.006 10.9882H32.3533ZM28.4915 3.65275L29.2478 7.43544H27.1278L28.4915 3.65275Z"
                                      fill="white" />
                            </svg>
                        </div>
                        <div class="method-discover">
                            <div class="payment-method">
                                <div class="base"></div>
                            </div>
                            <svg class="discover"
                                 width="41"
                                 height="20"
                                 viewBox="0 0 41 20"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.0293 19.6747L40.1764 12.0645V15.7042C40.1764 17.8971 38.3987 19.6747 36.2058 19.6747H15.0293Z"
                                      fill="#FD6020" />
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M35.403 1.05802C36.7864 1.05802 37.5474 1.698 37.5474 2.90686C37.6165 3.83128 36.994 4.61348 36.1639 4.7557L38.0316 7.38674H36.5789L34.9879 4.82681H34.8496V7.38674H33.6736V1.05802H35.403ZM34.8498 3.9732H35.1957C35.9566 3.9732 36.3025 3.61765 36.3025 2.97767C36.3025 2.4088 35.9566 2.05325 35.1957 2.05325H34.8498V3.9732ZM29.5925 7.38622H32.9128V6.31958H30.7685V4.61296H32.8437V3.54632H30.7685V2.12414H32.9128V1.0575H29.5925V7.38622ZM26.1341 5.32405L24.5431 1.0575H23.298L25.8574 7.52844H26.48L29.0394 1.0575H27.7943L26.1341 5.32405ZM12.0913 4.25646C12.0913 6.03419 13.4748 7.52748 15.2041 7.52748C15.7575 7.52748 16.2417 7.38526 16.7259 7.17194V5.74975C16.3801 6.17641 15.8958 6.46084 15.3425 6.46084C14.2357 6.46084 13.3364 5.60753 13.3364 4.46979V4.32757C13.2672 3.18982 14.1665 2.19429 15.2733 2.12318C15.8267 2.12318 16.3801 2.40762 16.7259 2.83427V1.41209C16.3109 1.12765 15.7575 1.05655 15.2733 1.05655C13.4748 0.914327 12.0913 2.40762 12.0913 4.25646ZM9.9472 3.47458C9.25546 3.19014 9.04794 3.04792 9.04794 2.69238C9.11711 2.26572 9.46298 1.91018 9.87803 1.98129C10.2239 1.98129 10.5698 2.19461 10.8465 2.47905L11.469 1.62574C10.9848 1.19908 10.3622 0.914648 9.73968 0.914648C8.77124 0.843539 7.94116 1.62574 7.87198 2.62127V2.69238C7.87198 3.54569 8.21785 4.04345 9.32463 4.399C9.60133 4.47011 9.87803 4.61233 10.1547 4.75455C10.3622 4.89676 10.5006 5.11009 10.5006 5.39453C10.5006 5.89229 10.0855 6.31895 9.6705 6.31895H9.60133C9.04794 6.31895 8.56372 5.9634 8.3562 5.46564L7.59529 6.24784C8.01033 7.03004 8.84042 7.45669 9.6705 7.45669C10.7773 7.5278 11.6765 6.67449 11.7457 5.53675V5.32342C11.6765 4.47011 11.3307 4.04345 9.9472 3.47458ZM5.93506 7.38622H7.11101V1.0575H5.93506V7.38622ZM0.470215 1.05802H2.19956H2.54543C4.20561 1.12913 5.51991 2.55131 5.45074 4.25793C5.45074 5.18235 5.03569 6.03566 4.34395 6.67565C3.72139 7.17341 2.96047 7.45785 2.19956 7.38674H0.470215V1.05802ZM1.99227 6.31919C2.54566 6.3903 3.16822 6.17697 3.58327 5.82142C3.99831 5.39477 4.20583 4.8259 4.20583 4.18591C4.20583 3.61704 3.99831 3.04817 3.58327 2.62151C3.16822 2.26596 2.54566 2.05264 1.99227 2.12375H1.6464V6.31919H1.99227Z"
                                      fill="white" />
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M20.2543 0.910156C18.5249 0.910156 17.0723 2.33234 17.0723 4.18118C17.0723 5.95891 18.4557 7.4522 20.2543 7.52331C22.0528 7.59442 23.4363 6.10113 23.5054 4.25229C23.4363 2.40345 22.0528 0.910156 20.2543 0.910156V0.910156Z"
                                      fill="#FD6020" />
                            </svg>
                        </div>
                        <div class="method-mastercard">
                            <div class="payment-method">
                                <div class="base"></div>
                            </div>
                            <svg class="mastercard"
                                 width="31"
                                 height="19"
                                 viewBox="0 0 31 19"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M15.2368 16.2735C13.6697 17.5942 11.637 18.3915 9.41585 18.3915C4.4594 18.3915 0.441406 14.4214 0.441406 9.5239C0.441406 4.62643 4.4594 0.65625 9.41585 0.65625C11.6371 0.65625 13.6699 1.45363 15.237 2.7745C16.8041 1.45373 18.8367 0.656422 21.0579 0.656422C26.0143 0.656422 30.0323 4.6266 30.0323 9.52407C30.0323 14.4215 26.0143 18.3917 21.0579 18.3917C18.8366 18.3917 16.8039 17.5943 15.2368 16.2735Z"
                                      fill="#ED0006" />
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M15.2373 16.273C17.1668 14.6465 18.3903 12.2264 18.3903 9.5239C18.3903 6.8214 17.1668 4.40127 15.2373 2.77478C16.8045 1.45374 18.8374 0.65625 21.0588 0.65625C26.0152 0.65625 30.0332 4.62643 30.0332 9.5239C30.0332 14.4214 26.0152 18.3915 21.0588 18.3915C18.8374 18.3915 16.8045 17.594 15.2373 16.273Z"
                                      fill="#F9A000" />
                                <path fill-rule="evenodd"
                                      clip-rule="evenodd"
                                      d="M15.2368 16.2703C17.1665 14.6438 18.3901 12.2235 18.3901 9.52087C18.3901 6.81823 17.1665 4.39797 15.2368 2.77148C13.3071 4.39797 12.0835 6.81823 12.0835 9.52087C12.0835 12.2235 13.3071 14.6438 15.2368 16.2703Z"
                                      fill="#FF5E00" />
                            </svg>
                        </div>
                        <div class="cart">
                            <div class="base2"></div>
                            <div class="lock-1">
                                <svg class="group2"
                                     width="10"
                                     height="11"
                                     viewBox="0 0 10 11"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.20833 5.04102H1.79167C1.28541 5.04102 0.875 5.45142 0.875 5.95768V9.16602C0.875 9.67228 1.28541 10.0827 1.79167 10.0827H8.20833C8.71459 10.0827 9.125 9.67228 9.125 9.16602V5.95768C9.125 5.45142 8.71459 5.04102 8.20833 5.04102Z"
                                          stroke="white"
                                          stroke-width="0.916667"
                                          stroke-linecap="round"
                                          stroke-linejoin="round" />
                                    <path d="M2.7085 5.04102V3.20768C2.7085 2.59989 2.94994 2.017 3.37971 1.58723C3.80948 1.15746 4.39237 0.916016 5.00016 0.916016C5.60795 0.916016 6.19084 1.15746 6.62062 1.58723C7.05039 2.017 7.29183 2.59989 7.29183 3.20768V5.04102"
                                          stroke="white"
                                          stroke-width="0.916667"
                                          stroke-linecap="round"
                                          stroke-linejoin="round" />
                                </svg>
                            </div>
                            <div class="secure">Secure</div>
                            <div class="payment">Payment</div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
